test/nodered.json
[{"id":"d409d0a29f7f44cf","type":"tab","label":"主系统","disabled":false,"info":"","env":[]},{"id":"11b4be427f102453","type":"tab","label":"自动读取空调地暖新风系统状态","disabled":false,"info":"","env":[]},{"id":"aa6144897b5af25e","type":"tab","label":"My MQTT - HDL test","disabled":false,"info":"","env":[]},{"id":"535dc6365cae0914","type":"hdl-controller","host":"192.168.88.22","port":"6000","subnetid":"1","deviceid":"99","broadcast":false,"daliId":" "},{"id":"f9afab1701cf2baa","type":"hdl-controller","host":"192.168.88.22","port":"6000","subnetid":"1","deviceid":"51","broadcast":false,"daliId":" "},{"id":"95210c26366bb6c4","type":"hdl-controller","host":"192.168.88.22","port":"6000","subnetid":"1","deviceid":"50","broadcast":false,"daliId":""},{"id":"ca58f1bef4881f3b","type":"mqtt-broker","name":"","broker":"192.168.88.5","port":"1883","clientid":"sc_switch","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"338410b9ecc065c9","type":"mqtt-broker","name":"","broker":"192.168.88.5","port":"1883","clientid":"fh_ac_air","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"379d41823d994aa6","type":"mqtt-broker","name":"","broker":"192.168.88.5","port":"1883","clientid":"sensor","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"4c354e14e05d6cd4","type":"mqtt-broker","name":"","broker":"192.168.88.5","port":"1883","tls":"","clientid":"input","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f7688362d4a6624e","type":"function","z":"d409d0a29f7f44cf","name":"Dimmer or Relay Answer","func":"if (msg.payload.success == true) \n {\n    msg.topic = \"hdl/sc/\" + msg.sender + \"/\" + msg.payload.channel;\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":100,"wires":[["c60be061e5ba0eac"]]},{"id":"90916b69f59f3b88","type":"function","z":"d409d0a29f7f44cf","name":"Dimmer or Relay Read","func":"var outputMsgs = [];\nif (msg.code == 52) {\n    for (i = 0; i < msg.payload.channels.length; i++) {\n          outputMsgs.push({\n          topic:\"hdl/sc/\" + msg.sender + \"/\" + msg.payload.channels[i].number,\n          payload:{\n              level:msg.payload.channels[i].level\n              \n          }\n      });\n    }\n    return [ outputMsgs ];\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":140,"wires":[["c60be061e5ba0eac"]]},{"id":"e6e91e6c6531d2e7","type":"mqtt out","z":"d409d0a29f7f44cf","name":"","topic":"","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"338410b9ecc065c9","x":1230,"y":740,"wires":[]},{"id":"c60be061e5ba0eac","type":"range","z":"d409d0a29f7f44cf","minin":"0","maxin":"100","minout":"0","maxout":"255","action":"scale","round":true,"property":"payload.level","name":"","x":730,"y":100,"wires":[["c0d2adcfdfa8686c","80da1dc0a67f67f3"]]},{"id":"7aed38565deb1c0c","type":"function","z":"d409d0a29f7f44cf","name":"Sensor Status Broadcasts","func":"var outputMsgs = [];\nif (msg.code == 5703) \n{\n    {\n        outputMsgs.push\n        ({\n          topic:\"hdl/temp/\" + msg.sender + \"/1\",\n          payload : msg.payload.temperature\n        });\n\n        outputMsgs.push\n        ({\n          topic:\"hdl/lux/\" + msg.sender + \"/lux\",\n           payload : msg.payload.brightness\n        });\n    }\n    return [ outputMsgs ];\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":380,"wires":[["41aa3c046441c755"]]},{"id":"bc29607c9c88a3a2","type":"hdl-raw-in","z":"d409d0a29f7f44cf","controller":"f9afab1701cf2baa","name":"From HDL","x":80,"y":340,"wires":[["cf22a85c315dec13"]]},{"id":"f4b85abf981827f6","type":"comment","z":"d409d0a29f7f44cf","name":"Feedback from HDL to MQTT","info":"","x":160,"y":40,"wires":[]},{"id":"102349dc9bae18da","type":"comment","z":"d409d0a29f7f44cf","name":"Single Channel Status","info":"","x":500,"y":60,"wires":[]},{"id":"34ac95eea1ee0cae","type":"comment","z":"d409d0a29f7f44cf","name":"Sensor Status Broadcasts Lux and Temp","info":"","x":560,"y":340,"wires":[]},{"id":"565bad86310d0418","type":"json","z":"d409d0a29f7f44cf","name":"","property":"payload","action":"obj","pretty":true,"x":470,"y":1180,"wires":[["54c54c0e99f07499"]]},{"id":"54c54c0e99f07499","type":"range","z":"d409d0a29f7f44cf","minin":"0","maxin":"255","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload.level","name":"","x":590,"y":1180,"wires":[["12f503b35aeff61c"]]},{"id":"12f503b35aeff61c","type":"function","z":"d409d0a29f7f44cf","name":"Light or Relay","func":"msg.code = 49;\n\nmsg.target = msg.topic.split(\"/\")[2];\nvar time = msg.payload.time;\nvar level = Math.min(Math.max(parseInt(msg.payload.level), 0), 100);\n\nmsg.payload = {\n    channel: msg.topic.split(\"/\")[3],\n    time: time,\n    level: level,\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":1180,"wires":[["fef4ca11f287479d"]]},{"id":"48b0310ebeba4ba1","type":"comment","z":"d409d0a29f7f44cf","name":"Commands from MQTT to HDL","info":"","x":170,"y":1100,"wires":[]},{"id":"9b2e5f67d92eb556","type":"switch","z":"d409d0a29f7f44cf","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"hdl/sc/","vt":"str"},{"t":"cont","v":"hdl/us/","vt":"str"},{"t":"cont","v":"hdl/fh/","vt":"str"},{"t":"cont","v":"hdl/hm/","vt":"str"},{"t":"cont","v":"hdl/ac/","vt":"str"},{"t":"cont","v":"hdl/af/","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":250,"y":1360,"wires":[["565bad86310d0418"],["b1b2f5578daf9921"],["b989c322da784388"],["5221b9e27190eefb"],["0277c060ae28fde2"],["7c73e0e8bc45fddf"]]},{"id":"94828825b61a85a1","type":"function","z":"d409d0a29f7f44cf","name":"Universal Switch Answer","func":"msg.topic = \"hdl/us/\" + msg.sender + \"/\" + msg.payload.switch;\nvar status = msg.payload.status\nif (status === true) \n    {\n    msg.payload = \"ON\";\n    } \n    else \n    {\n    msg.payload = \"OFF\";\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":240,"wires":[["c0d2adcfdfa8686c"]]},{"id":"a472cec6ba103b35","type":"comment","z":"d409d0a29f7f44cf","name":"Universal Switch","info":"","x":480,"y":200,"wires":[]},{"id":"b1b2f5578daf9921","type":"function","z":"d409d0a29f7f44cf","name":"Universal Switch","func":"var usswitch = msg.topic.split(\"/\")[3];\nvar command = msg.payload;\nif (command === \"ON\") \n    {\n    hdlcommand = true;\n    } \n    else \n    {\n    hdlcommand = false;\n    }\nmsg.code = 57372;\nmsg.target = msg.topic.split(\"/\")[2];\nmsg.payload = {\n    switch: usswitch,\n    status: hdlcommand,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":1280,"wires":[["fef4ca11f287479d"]],"info":"msg.topic = \"hdl/us/\" + msg.sender + \"/\" + msg.payload.switch;\nvar status = msg.payload.status\nif (status === true) \n    {\n    msg.payload = \"ON\";\n    } \n    else \n    {\n    msg.payload = \"OFF\";\n    }\nreturn msg;"},{"id":"cf22a85c315dec13","type":"switch","z":"d409d0a29f7f44cf","name":"","property":"code","propertyType":"msg","rules":[{"t":"eq","v":"50","vt":"str"},{"t":"eq","v":"52","vt":"str"},{"t":"eq","v":"57373","vt":"str"},{"t":"eq","v":"57369","vt":"str"},{"t":"eq","v":"5703","vt":"str"},{"t":"eq","v":"5637","vt":"str"},{"t":"eq","v":"58341","vt":"str"},{"t":"eq","v":"6471","vt":"str"},{"t":"eq","v":"6469","vt":"str"},{"t":"eq","v":"7263","vt":"str"},{"t":"eq","v":"7261","vt":"str"},{"t":"eq","v":"6457","vt":"str"},{"t":"eq","v":"6459","vt":"str"},{"t":"eq","v":"5197","vt":"str"},{"t":"eq","v":"5195","vt":"str"}],"checkall":"false","repair":false,"outputs":15,"x":170,"y":620,"wires":[["f7688362d4a6624e"],["90916b69f59f3b88"],["94828825b61a85a1"],["73fc642b8eb78a77"],["7aed38565deb1c0c"],["b99092c085925c66"],["367301f3fb7d3dae"],["ca3dc95602747d75","723cad02ff85aa77"],["723cad02ff85aa77","ca3dc95602747d75"],["d4c7e2802d3aab8a","945e3545774a5281"],["945e3545774a5281","d4c7e2802d3aab8a"],["05c09355d256695e","0ba22a37d6db866e"],["0ba22a37d6db866e","05c09355d256695e"],["42b3533af04be3ed","b5a4d36602008566"],["42b3533af04be3ed","b5a4d36602008566"]]},{"id":"b4977c49ff365c0e","type":"comment","z":"d409d0a29f7f44cf","name":"Temprature Sensors","info":"","x":490,"y":540,"wires":[]},{"id":"367301f3fb7d3dae","type":"function","z":"d409d0a29f7f44cf","name":"Temprature Broadcasts","func":"msg.topic = \"hdl/temp/\" + msg.sender + \"/\" + msg.payload.channel;\nvar temp = msg.payload.temperature\nmsg.payload = temp\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":580,"wires":[["41aa3c046441c755"]]},{"id":"73fc642b8eb78a77","type":"function","z":"d409d0a29f7f44cf","name":"Universal Switch Read","func":"msg.topic = \"hdl/us/\" + msg.sender + \"/\" + msg.payload.switch;\nvar status = msg.payload.status\nif (status === true) \n    {\n    msg.payload = \"ON\";\n    } \n    else \n    {\n    msg.payload = \"OFF\";\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":280,"wires":[["c0d2adcfdfa8686c"]]},{"id":"c20fcfd152705dca","type":"comment","z":"d409d0a29f7f44cf","name":"AC / Heatpump","info":"","x":520,"y":900,"wires":[]},{"id":"c27be99c4d110263","type":"comment","z":"d409d0a29f7f44cf","name":"Floorheat Thermostat DLP","info":"","x":510,"y":640,"wires":[]},{"id":"05c09355d256695e","type":"function","z":"d409d0a29f7f44cf","name":"Air condition Unit Command from DLP    ","func":"//Insert MQTT Topic\nmsg.topic = \"hdl/ac/\" + msg.sender + \".\" + msg.payload.acno;\n\n//Mode - Change nr to Mode and set current set temprature\nvar amode= msg.payload.setupmode \nif (amode === 0){var Mode = \"cool\"; var Thismodetempset = msg.payload.temperature.cooling}\nif (amode === 1){var Mode = \"heat\"; var Thismodetempset = msg.payload.temperature.heating}\nif (amode === 2){var Mode = \"fan_only\"}\nif (amode === 3){var Mode = \"auto\"; var Thismodetempset = msg.payload.temperature.auto}\nif (amode === 4){var Mode = \"dry\"; var Thismodetempset = msg.payload.temperature.dry}\nmsg.payload.currentmode = Thismodetempset\n\n//Power - Change true to ON and mode to off if off\nvar power = msg.payload.acstatus;\nif (power === false){newpower = \"OFF\"; var Mode = \"off\"}\nmsg.payload.setupmode= Mode\n\n//Change nr to fanspeed\nvar aspeed= msg.payload.setupspeed \nif (aspeed === 0){var Speed = \"auto\"}\nif (aspeed === 1){var Speed = \"high\"}\nif (aspeed === 2){var Speed = \"medium\"}\nif (aspeed === 3){var Speed = \"low\"}\nmsg.payload.setupspeed= Speed\n\n//Change nr to sweep state\nvar sweep = msg.payload.sweep;\nif (sweep === 0){var newsweep = \"OFF\"}\nif (sweep === 1){var newsweep = \"ON\"}\nmsg.payload.sweep = newsweep\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":980,"wires":[["e6e91e6c6531d2e7"]]},{"id":"3f50d0f2fdbe5db9","type":"switch","z":"d409d0a29f7f44cf","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"/mode/set","vt":"str"},{"t":"cont","v":"/temperature/set","vt":"str"},{"t":"cont","v":"/fan/set","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":530,"y":1820,"wires":[["aebb0c75dd969fca"],["f464921b1f442181"],["6b93b8e98eac4a13"]]},{"id":"ca3dc95602747d75","type":"function","z":"d409d0a29f7f44cf","name":"Floorheat Update/Answer from DLP","func":"//Insert MQTT Topic\nmsg.topic = \"hdl/fh/\" + msg.sender + \"/01\";\n\n//Power Change true/false to ON/OFF\nvar power = msg.payload.status;\nif (power === true){newpower = \"heat\"}\nif (power === false){newpower = \"off\"}\nmsg.payload.status = newpower\n\n//Mode Change from nr to mode 1:Normal 2:Day 3:Night 4:Away 5:Timer. And add current temprature\nvar fhmode= msg.payload.mode \nif (fhmode === 1){var textmode = \"Normal\"; var tempnow = msg.payload.temperature.normal}\nif (fhmode === 2){var textmode = \"Day\"; var tempnow = msg.payload.temperature.day}\nif (fhmode === 3){var textmode = \"Night\"; var tempnow = msg.payload.temperature.night}\nif (fhmode === 4){var textmode = \"Away\"; var tempnow = msg.payload.temperature.away}\nif (fhmode === 5){var textmode = \"Timer\"}\nmsg.payload.textmode= textmode\nmsg.payload.temperature.now = tempnow\n\n//Awaymode\n//if (textmode ==\"Away\"){msg.payload.awaymode = \"On\"}\n//    else{msg.payload.awaymode = \"Off\"}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":720,"wires":[["e6e91e6c6531d2e7"]]},{"id":"13cfc0ee1b828507","type":"switch","z":"d409d0a29f7f44cf","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"/mode/set","vt":"str"},{"t":"cont","v":"/textmode/set","vt":"str"},{"t":"cont","v":"/temperature/set","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":570,"y":1420,"wires":[["234f971b363daf21"],["5d0d05ffb3b48f8f"],["1b3bfb4f62154808"]]},{"id":"723cad02ff85aa77","type":"function","z":"d409d0a29f7f44cf","name":"Save msg to flow variable","func":"//Save to flow variable for later use\nflow.set(\"hdl/fh/\" + msg.sender + \"/hdlstate\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":680,"wires":[[]]},{"id":"b989c322da784388","type":"function","z":"d409d0a29f7f44cf","name":"Flow get","func":"//Get Old status from flow variable for complete message\nmsg.oldhdlstate =flow.get(\"hdl/fh/\" + msg.topic.split(\"/\")[2] + \"/hdlstate\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1420,"wires":[["13cfc0ee1b828507"]]},{"id":"fef7564cd271bf53","type":"comment","z":"d409d0a29f7f44cf","name":"Single Channel Status","info":"","x":560,"y":1140,"wires":[]},{"id":"06bae3f5d47d7691","type":"comment","z":"d409d0a29f7f44cf","name":"Universal Switch","info":"","x":540,"y":1240,"wires":[]},{"id":"24e411f3922a9ed1","type":"comment","z":"d409d0a29f7f44cf","name":"Floorheat Thermostat DLP","info":"","x":570,"y":1340,"wires":[]},{"id":"5d0d05ffb3b48f8f","type":"function","z":"d409d0a29f7f44cf","name":"New Preset Mode","func":"// Change from MQTT textmode to HDL nrmode \nvar fhmode = msg.payload\nif (fhmode === \"Normal\"){msg.oldhdlstate.mode = 1}\nif (fhmode === \"Day\"){msg.oldhdlstate.mode = 2}\nif (fhmode === \"Night\"){msg.oldhdlstate.mode = 3}\nif (fhmode === \"Away\"){msg.oldhdlstate.mode = 4}\nif (fhmode === \"Timer\"){msg.oldhdlstate.mode = 5}\n\n//Build new HDL message\nmsg.target = msg.topic.split(\"/\")[2]\nmsg.code = 6470\nmsg.payload = msg.oldhdlstate\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":1420,"wires":[["fef4ca11f287479d"]]},{"id":"234f971b363daf21","type":"function","z":"d409d0a29f7f44cf","name":"New Mode","func":"// Change from Off or heat to true/false\nif (msg.payload === \"off\") {msg.oldhdlstate.status = false}\nif (msg.payload === \"heat\") {msg.oldhdlstate.status = true}\n//Build new HDL message\nmsg.target = msg.topic.split(\"/\")[2]\nmsg.code = 6470\nmsg.payload = msg.oldhdlstate\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":1380,"wires":[["fef4ca11f287479d"]]},{"id":"1b3bfb4f62154808","type":"function","z":"d409d0a29f7f44cf","name":"New Temp","func":"// Check witch mode active and save new temperature to that mode\nnormal = msg.oldhdlstate.temperature.normal \nday = msg.oldhdlstate.temperature.day\nnight = msg.oldhdlstate.temperature.night\naway = msg.oldhdlstate.temperature.away\n\nif (msg.oldhdlstate.mode === 1){normal = msg.payload}\nif (msg.oldhdlstate.mode === 2){day = msg.payload}\nif (msg.oldhdlstate.mode === 3){night = msg.payload}\nif (msg.oldhdlstate.mode === 4){away = msg.payload}\n\nmsg.oldhdlstate.temperature.normal = Number(normal)\nmsg.oldhdlstate.temperature.day = Number(day)\nmsg.oldhdlstate.temperature.night = Number(night)\nmsg.oldhdlstate.temperature.away = Number(away)\n\n//Build new HDL message\nmsg.target = msg.topic.split(\"/\")[2]\nmsg.code = 6470\nmsg.payload = msg.oldhdlstate\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":1460,"wires":[["fef4ca11f287479d"]]},{"id":"e892611df0c139cb","type":"comment","z":"d409d0a29f7f44cf","name":"Air condition","info":"","x":530,"y":1720,"wires":[]},{"id":"0ba22a37d6db866e","type":"function","z":"d409d0a29f7f44cf","name":"Save msg to flow variable","func":"//Save to flow variable for later use\nflow.set(\"hdl/ac/\" + msg.sender + \".\" + msg.payload.acno + \"/hdlstate\", msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":940,"wires":[[]]},{"id":"0277c060ae28fde2","type":"function","z":"d409d0a29f7f44cf","name":"Flow get","func":"//Get Old status from flow variable for complete message\naddressacno = msg.topic.split(\"/\")[2]\nacno = addressacno.split(\".\")[2]\nmsg.oldhdlstate =flow.get(\"hdl/ac/\" + addressacno  + \"/hdlstate\");\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1820,"wires":[["3f50d0f2fdbe5db9"]]},{"id":"aebb0c75dd969fca","type":"function","z":"d409d0a29f7f44cf","name":"New Mode","func":"//Set current temperature from oldstate and change mode to nr and not text\nvar acmode = msg.payload\nif (acmode === \"cool\"){var acstatus = true; var accurrenttemp = msg.oldhdlstate.temperature.cooling; var newacmode = 0}\nif (acmode === \"heat\"){var acstatus = true; var accurrenttemp = msg.oldhdlstate.temperature.heating; var newacmode = 1}\nif (acmode === \"fan_only\"){var acstatus = true; var accurrenttemp = 0; var newacmode = 2}\nif (acmode === \"auto\"){var acstatus = true; var accurrenttemp = msg.oldhdlstate.temperature.auto; var newacmode = 3}\nif (acmode === \"dry\"){var acstatus = true; var accurrenttemp = msg.oldhdlstate.temperature.dry; var newacmode = 4}\n\n//If off change acstatus and old mode\nif (acmode === \"off\")\n{\n    var acstatus = false; \n    if (msg.oldhdlstate.setupmode === 0){var accurrenttemp = msg.oldhdlstate.temperature.cooling; var newacmode = 0}\n    if (msg.oldhdlstate.setupmode === 1){var accurrenttemp = msg.oldhdlstate.temperature.heating; var newacmode = 1}\n    if (msg.oldhdlstate.setupmode === 2){var accurrenttemp = 0; var newacmode = 2}\n    if (msg.oldhdlstate.setupmode === 3){var accurrenttemp = msg.oldhdlstate.temperature.auto; var newacmode = 3}\n    if (msg.oldhdlstate.setupmode === 4){var accurrenttemp = msg.oldhdlstate.temperature.dry; var newacmode = 4}\n}\n\n//   - Insert to msg object\nmsg.oldhdlstate.currentmode = accurrenttemp\nmsg.oldhdlstate.setupmode = newacmode\nmsg.oldhdlstate.acstatus = acstatus\n\n//Build new HDL message\nmsg.target = msg.topic.split(\"/\")[2]\nmsg.code = 6458\nmsg.payload = msg.oldhdlstate\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":1760,"wires":[["2d49ac8e5f24e38e","a4b74f895268de30"]],"info":"msg.topic = \"hdl/us/\" + msg.sender + \"/\" + msg.payload.switch;\nvar status = msg.payload.status\nif (status === true) \n    {\n    msg.payload = \"ON\";\n    } \n    else \n    {\n    msg.payload = \"OFF\";\n    }\nreturn msg;"},{"id":"c4d3bf2fd3532ed5","type":"function","z":"d409d0a29f7f44cf","name":"Temp","func":"//Set new temperature to HDL message\nvar acurrtemp = msg.payload\nif (msg.oldhdlstate.setupmode === 0){msg.oldhdlstate.temperature.cooling = acurrtemp}\nif (msg.oldhdlstate.setupmode === 1){msg.oldhdlstate.temperature.heating = acurrtemp}\n//if (msg.oldhdlstate.setupmode === 2){var accurrtemp = 0}\nif (msg.oldhdlstate.setupmode === 3){msg.oldhdlstate.temperature.auto = acurrtemp}\nif (msg.oldhdlstate.setupmode === 4){msg.oldhdlstate.temperature.dry = acurrtemp}\n\n// Build AC broadcast\nmsg.target = msg.topic.split(\"/\")[2]\nmsg.code = 6458,\nmsg.payload = msg.oldhdlstate\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":1820,"wires":[["2d49ac8e5f24e38e","a4b74f895268de30"]],"info":"msg.topic = \"hdl/us/\" + msg.sender + \"/\" + msg.payload.switch;\nvar status = msg.payload.status\nif (status === true) \n    {\n    msg.payload = \"ON\";\n    } \n    else \n    {\n    msg.payload = \"OFF\";\n    }\nreturn msg;"},{"id":"f464921b1f442181","type":"range","z":"d409d0a29f7f44cf","minin":"0","maxin":"100","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"Round","x":650,"y":1820,"wires":[["c4d3bf2fd3532ed5"]]},{"id":"6b93b8e98eac4a13","type":"function","z":"d409d0a29f7f44cf","name":"New Fan Mode","func":"//AC fan speed text to speed\nvar acspeed = msg.payload\nif (acspeed === \"auto\"){msg.oldhdlstate.setupspeed = 0}\nif (acspeed === \"high\"){msg.oldhdlstate.setupspeed = 1}\nif (acspeed === \"medium\"){msg.oldhdlstate.setupspeed = 2}\nif (acspeed === \"low\"){msg.oldhdlstate.setupspeed = 3}\n\n// Build AC broadcast\nmsg.target = msg.topic.split(\"/\")[2]\nmsg.code = 6458,\nmsg.payload = msg.oldhdlstate\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":1880,"wires":[["2d49ac8e5f24e38e","a4b74f895268de30"]],"info":"msg.topic = \"hdl/us/\" + msg.sender + \"/\" + msg.payload.switch;\nvar status = msg.payload.status\nif (status === true) \n    {\n    msg.payload = \"ON\";\n    } \n    else \n    {\n    msg.payload = \"OFF\";\n    }\nreturn msg;"},{"id":"fef4ca11f287479d","type":"hdl-raw-out","z":"d409d0a29f7f44cf","controller":"f9afab1701cf2baa","name":"","x":1290,"y":1620,"wires":[]},{"id":"924768afbce95647","type":"switch","z":"d409d0a29f7f44cf","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"/mode/set","vt":"str"},{"t":"cont","v":"/textmode/set","vt":"str"},{"t":"cont","v":"/temperature/set","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":570,"y":1600,"wires":[["0f6e549052100ef1"],["45955344839086c8"],["f9abce9ded39bdf3"]]},{"id":"5221b9e27190eefb","type":"function","z":"d409d0a29f7f44cf","name":"Flow get","func":"//Get Old status from flow variable for complete message\naddressandchannel = msg.topic.split(\"/\")[2]\nmsg.channel = addressandchannel.split(\".\")[2]\nmsg.target = addressandchannel.split(\".\")[0] + \".\" + addressandchannel.split(\".\")[1]\nmsg.oldhdlstate =flow.get(\"hdl/hm/\" + msg.target + \"/\" + msg.channel + \"/hdlstate\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1600,"wires":[["924768afbce95647"]]},{"id":"b80b0e2e0e978d7a","type":"comment","z":"d409d0a29f7f44cf","name":"Floorheat Thermostat Heatmodule MFH06","info":"","x":620,"y":1520,"wires":[]},{"id":"45955344839086c8","type":"function","z":"d409d0a29f7f44cf","name":"New Preset Mode","func":"// Change from MQTT textmode to HDL nrmode \nvar fhmode = msg.payload\nif (fhmode === \"Normal\"){msg.oldhdlstate.mode = 1}\nif (fhmode === \"Day\"){msg.oldhdlstate.mode = 2}\nif (fhmode === \"Night\"){msg.oldhdlstate.mode = 3}\nif (fhmode === \"Away\"){msg.oldhdlstate.mode = 4}\nif (fhmode === \"Timer\"){msg.oldhdlstate.mode = 5}\n\n//Build new HDL message\nmsg.code = 7260\nmsg.payload = msg.oldhdlstate\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":1600,"wires":[["fef4ca11f287479d"]]},{"id":"0f6e549052100ef1","type":"function","z":"d409d0a29f7f44cf","name":"New Mode","func":"// Change from Off or heat to true/false\nif (msg.payload === \"off\") {msg.oldhdlstate.work.status = false}\nif (msg.payload === \"heat\") {msg.oldhdlstate.work.status = true}\n//Build new HDL message\nmsg.code = 7260\nmsg.payload = msg.oldhdlstate\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":1560,"wires":[["fef4ca11f287479d"]]},{"id":"f9abce9ded39bdf3","type":"function","z":"d409d0a29f7f44cf","name":"New Temp","func":"// Check witch mode active and save new temperature to that mode\nnormal = msg.oldhdlstate.temperature.normal \nday = msg.oldhdlstate.temperature.day\nnight = msg.oldhdlstate.temperature.night\naway = msg.oldhdlstate.temperature.away\n\nif (msg.oldhdlstate.mode === 1){normal = msg.payload}\nif (msg.oldhdlstate.mode === 2){day = msg.payload}\nif (msg.oldhdlstate.mode === 3){night = msg.payload}\nif (msg.oldhdlstate.mode === 4){away = msg.payload}\n\nmsg.oldhdlstate.temperature.normal = Number(normal)\nmsg.oldhdlstate.temperature.day = Number(day)\nmsg.oldhdlstate.temperature.night = Number(night)\nmsg.oldhdlstate.temperature.away = Number(away)\n\n//Build new HDL message\nmsg.code = 7260\nmsg.payload = msg.oldhdlstate\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":1640,"wires":[["fef4ca11f287479d"]]},{"id":"6e360050af29aab2","type":"comment","z":"d409d0a29f7f44cf","name":"Floorheat Thermostat Heatmodule MFH06","info":"","x":560,"y":780,"wires":[]},{"id":"945e3545774a5281","type":"function","z":"d409d0a29f7f44cf","name":"Floorheat Update/Answer from Heatmodule","func":"//Insert MQTT Topic\nmsg.topic = \"hdl/hm/\" + msg.sender + \".\" + msg.payload.channel;\n\n//Power Change true/false to ON/OFF\nvar power = msg.payload.work.status;\nif (power === true){newpower = \"heat\"}\nif (power === false){newpower = \"off\"}\nmsg.payload.status = newpower\n\n//Mode Change from nr to mode 1:Normal 2:Day 3:Night 4:Away 5:Timer. And add current temprature\nvar fhmode= msg.payload.mode \nif (fhmode === 1){var textmode = \"Normal\"; var tempnow = msg.payload.temperature.normal}\nif (fhmode === 2){var textmode = \"Day\"; var tempnow = msg.payload.temperature.day}\nif (fhmode === 3){var textmode = \"Night\"; var tempnow = msg.payload.temperature.night}\nif (fhmode === 4){var textmode = \"Away\"; var tempnow = msg.payload.temperature.away}\nif (fhmode === 5){var textmode = \"Timer\"}\nmsg.payload.textmode= textmode\nmsg.payload.temperature.now = tempnow\n\n//Awaymode\n//if (textmode ==\"Away\"){msg.payload.awaymode = \"On\"}\n//    else{msg.payload.awaymode = \"Off\"}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":860,"wires":[["e6e91e6c6531d2e7"]]},{"id":"d4c7e2802d3aab8a","type":"function","z":"d409d0a29f7f44cf","name":"Save msg to flow variable","func":"//Save to flow variable for later use\nflow.set(\"hdl/hm/\" + msg.sender + \"/\" + msg.payload.channel +\"/hdlstate\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":820,"wires":[[]]},{"id":"90c44096c16dc1c1","type":"comment","z":"d409d0a29f7f44cf","name":"New Sensor Status Broadcasts Lux,Temp and Humid","info":"","x":590,"y":440,"wires":[]},{"id":"b99092c085925c66","type":"function","z":"d409d0a29f7f44cf","name":"Sensor Status Broadcasts","func":"var outputMsgs = [];\nif (msg.code == 5637) \n{\n    {\n        outputMsgs.push\n        ({\n          topic:\"hdl/temp/\" + msg.sender + \"/1\",\n          payload : msg.payload.temperature\n        });\n\n        outputMsgs.push\n        ({\n          topic:\"hdl/lux/\" + msg.sender + \"/Lux\",\n           payload : msg.payload.brightness\n        });\n    \n        outputMsgs.push\n        ({\n          topic:\"hdl/Humidity/\" + msg.sender + \"/Humidity\",\n           payload : msg.payload.humidity\n        });\n        \n    }\n    return [ outputMsgs ];\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":480,"wires":[["41aa3c046441c755"]]},{"id":"8a65aa05f99a0925","type":"comment","z":"d409d0a29f7f44cf","name":"AF","info":"","x":490,"y":1020,"wires":[]},{"id":"42b3533af04be3ed","type":"function","z":"d409d0a29f7f44cf","name":"Save msg to flow variable","func":"//Save to flow variable for later use\nflow.set(\"hdl/af/\" + msg.sender + \".\" + msg.payload.afno + \"/hdlstate\", msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":1060,"wires":[[]]},{"id":"b5a4d36602008566","type":"function","z":"d409d0a29f7f44cf","name":"Air Fresh Unit Command from DLP    ","func":"//Insert MQTT Topic\nmsg.topic = \"hdl/af/\" + msg.sender + \".\" + msg.payload.afno;\n//Mode - Change nr to Mode and set current set temprature\n//Power Change true/false to ON/OFF\nvar power = msg.payload.afstatus;\nif (power === true){var newpower = \"fan_only\"}\nif (power === false){var newpower = \"off\"}\nmsg.payload.status = newpower\n\n//Change af to fanspeed\nvar afspeed= msg.payload.setupspeed \nif (afspeed === 0){var Speed = \"auto\"}\nif (afspeed === 1){var Speed = \"low\"}\nif (afspeed === 2){var Speed = \"medium\"}\nif (afspeed === 3){var Speed = \"high\"}\nmsg.payload.setupspeed= Speed\n\n\nvar afmode= msg.payload.setupmode \nif (afmode === 0){var mode = \"smart\"}\nif (afmode === 1){var mode = \"manual\"}\nif (afmode === 2){var mode = \"internal\"}\nif (afmode === 3){var mode = \"thermostat\"}\nmsg.payload.setupmode= mode\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1100,"wires":[["e6e91e6c6531d2e7"]]},{"id":"aa65135abb8923b8","type":"comment","z":"d409d0a29f7f44cf","name":"Air Fresh","info":"","x":540,"y":1940,"wires":[]},{"id":"724dd5e0b3c1c72d","type":"switch","z":"d409d0a29f7f44cf","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"/mode/set","vt":"str"},{"t":"cont","v":"/textmode/set","vt":"str"},{"t":"cont","v":"/fan/set","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":490,"y":2020,"wires":[["499a4102042f814e"],["265641551bebd9ee"],["80b47d4d9a58f463"]]},{"id":"80b47d4d9a58f463","type":"function","z":"d409d0a29f7f44cf","name":"New Fan Mode","func":"//AF fan speed text to speed\nvar afspeed = msg.payload\nif (afspeed === \"auto\"){msg.oldhdlstate.setupspeed = 0}\nif (afspeed === \"low\"){msg.oldhdlstate.setupspeed = 1}\nif (afspeed === \"medium\"){msg.oldhdlstate.setupspeed = 2}\nif (afspeed === \"high\"){msg.oldhdlstate.setupspeed = 3}\n\n\n\n// Build AC broadcast\nmsg.target = \"1.51\"\nmsg.code = 5194\nmsg.payload = msg.oldhdlstate\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":2120,"wires":[["4520b52ec888cd48"]],"info":"msg.topic = \"hdl/us/\" + msg.sender + \"/\" + msg.payload.switch;\nvar status = msg.payload.status\nif (status === true) \n    {\n    msg.payload = \"ON\";\n    } \n    else \n    {\n    msg.payload = \"OFF\";\n    }\nreturn msg;"},{"id":"499a4102042f814e","type":"function","z":"d409d0a29f7f44cf","name":"New Mode","func":"// Change from Off or heat to true/false\nif (msg.payload === \"off\") {msg.oldhdlstate.afstatus = false}\nif (msg.payload === \"fan_only\") {msg.oldhdlstate.afstatus = true}\n//Build new HDL message\nmsg.target = \"1.51\"\nmsg.code = 5194\nmsg.payload = msg.oldhdlstate\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":2040,"wires":[["4520b52ec888cd48"]],"info":"msg.topic = \"hdl/us/\" + msg.sender + \"/\" + msg.payload.switch;\nvar status = msg.payload.status\nif (status === true) \n    {\n    msg.payload = \"ON\";\n    } \n    else \n    {\n    msg.payload = \"OFF\";\n    }\nreturn msg;"},{"id":"7c73e0e8bc45fddf","type":"function","z":"d409d0a29f7f44cf","name":"Flow get","func":"addressafno = msg.topic.split(\"/\")[2]\nafno = addressafno.split(\".\")[2]\nmsg.oldhdlstate = flow.get(\"hdl/af/\" + addressafno  + \"/hdlstate\");\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1980,"wires":[["724dd5e0b3c1c72d"]]},{"id":"265641551bebd9ee","type":"function","z":"d409d0a29f7f44cf","name":"New Preset Mode","func":"// Change from MQTT textmode to HDL nrmode \nvar fhmode = msg.payload\nif (fhmode === \"smart\"){msg.oldhdlstate.setupmode = 0}\nif (fhmode === \"manual\"){msg.oldhdlstate.setupmode = 1}\nif (fhmode === \"internal\"){msg.oldhdlstate.setupmode = 2}\nif (fhmode === \"thermostat\"){msg.oldhdlstate.setupmode = 3}\n\n\n//Build new HDL message\nmsg.target = \"1.51\"\nmsg.code = 5194\nmsg.payload = msg.oldhdlstate\n\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":2080,"wires":[["4520b52ec888cd48"]]},{"id":"c0d2adcfdfa8686c","type":"mqtt out","z":"d409d0a29f7f44cf","name":"","topic":"","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ca58f1bef4881f3b","x":1230,"y":260,"wires":[]},{"id":"41aa3c046441c755","type":"mqtt out","z":"d409d0a29f7f44cf","name":"","topic":"","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"379d41823d994aa6","x":1210,"y":480,"wires":[]},{"id":"4520b52ec888cd48","type":"hdl-raw-out","z":"d409d0a29f7f44cf","controller":"f9afab1701cf2baa","name":"新风机专用","x":1270,"y":2000,"wires":[]},{"id":"bbe1fe8e0a716838","type":"debug","z":"d409d0a29f7f44cf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":190,"y":1480,"wires":[]},{"id":"fbded87e95ae9faa","type":"debug","z":"d409d0a29f7f44cf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":2140,"wires":[]},{"id":"e329a1e5f14a7e0f","type":"mqtt in","z":"d409d0a29f7f44cf","name":"","topic":"hdl/+/+/+/set","qos":"2","datatype":"auto","broker":"338410b9ecc065c9","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":1340,"wires":[["9b2e5f67d92eb556"]]},{"id":"2d49ac8e5f24e38e","type":"function","z":"d409d0a29f7f44cf","name":"","func":"if (msg.payload.setupmode === 3)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":1860,"wires":[["43e7f89c6ce0e958"]]},{"id":"a4b74f895268de30","type":"function","z":"d409d0a29f7f44cf","name":"","func":"return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":1760,"wires":[["fef4ca11f287479d"]]},{"id":"43e7f89c6ce0e958","type":"delay","z":"d409d0a29f7f44cf","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1190,"y":1800,"wires":[["fef4ca11f287479d"]]},{"id":"80da1dc0a67f67f3","type":"function","z":"d409d0a29f7f44cf","name":"场景模式开关灯检测","func":"\nif (msg.payload.channel === 255)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":20,"wires":[["0778363802504df4"]]},{"id":"0778363802504df4","type":"function","z":"d409d0a29f7f44cf","name":"Read Light","func":"msg.target = \"1.50\"\nmsg.code = 51;\nmsg.payload = {\n    channel: 60,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1330,"y":80,"wires":[["9e110606e9a141a9"]]},{"id":"9e110606e9a141a9","type":"hdl-raw-out","z":"d409d0a29f7f44cf","controller":"f9afab1701cf2baa","name":"","x":1550,"y":80,"wires":[]},{"id":"f40f0d4906dff6a3","type":"inject","z":"11b4be427f102453","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"Started!","payloadType":"str","x":220,"y":120,"wires":[["9bd67b56fc380a42","0c509e4c85970780","f3e388a02de977e3","12b0cce70ccbe0e5","1141db43fe043f7b"]]},{"id":"c674244a9bade8e2","type":"comment","z":"11b4be427f102453","name":"Floorheat","info":"","x":620,"y":40,"wires":[]},{"id":"94ee710a61997e5b","type":"function","z":"11b4be427f102453","name":"Read status Floorheat ch2","func":"msg.target = \"1.51\"\nmsg.code = 7262;\nmsg.payload = {\n    channel: 2,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":140,"wires":[["1c893782e9844ea9"]]},{"id":"d941114c9a6e080b","type":"function","z":"11b4be427f102453","name":"Read status Floorheat ch4","func":"msg.target = \"1.51\"\nmsg.code = 7262;\nmsg.payload = {\n    channel: 4,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":260,"wires":[["1c893782e9844ea9"]]},{"id":"5533582fa95505bc","type":"function","z":"11b4be427f102453","name":"Read status Floorheat ch3","func":"msg.target = \"1.51\"\nmsg.code = 7262;\nmsg.payload = {\n    channel: 3,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":200,"wires":[["1c893782e9844ea9"]]},{"id":"0db98bfa7b5fb5e6","type":"function","z":"11b4be427f102453","name":"Read status Floorheat ch5","func":"msg.target = \"1.51\"\nmsg.code = 7262;\nmsg.payload = {\n    channel: 5,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":320,"wires":[["1c893782e9844ea9"]]},{"id":"0c509e4c85970780","type":"delay","z":"11b4be427f102453","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":400,"y":200,"wires":[["5533582fa95505bc"]]},{"id":"9bd67b56fc380a42","type":"delay","z":"11b4be427f102453","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":400,"y":140,"wires":[["94ee710a61997e5b"]]},{"id":"f3e388a02de977e3","type":"delay","z":"11b4be427f102453","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":400,"y":260,"wires":[["d941114c9a6e080b"]]},{"id":"12b0cce70ccbe0e5","type":"delay","z":"11b4be427f102453","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":400,"y":320,"wires":[["0db98bfa7b5fb5e6"]]},{"id":"e9fa297de99c190a","type":"inject","z":"11b4be427f102453","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"Started!","payloadType":"str","x":240,"y":540,"wires":[["6afc122e43be4f08","49aad58d579ffd19","67535f32c068d991","3ba962da763d23b0","736d2ca5b38b6459","3db5efc74415ff97","67239dfd7d76c905","5d4a1150a91787e0"]]},{"id":"edef5f32f158eee3","type":"function","z":"11b4be427f102453","name":"Read AC ch2","func":"msg.target = \"1.51\"\nmsg.code = 6456;\nmsg.payload = {\n    acno: 2,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":500,"wires":[["1c893782e9844ea9"]]},{"id":"7e9937c342dc756d","type":"function","z":"11b4be427f102453","name":"Read AC ch4","func":"msg.target = \"1.51\"\nmsg.code = 6456;\nmsg.payload = {\n    acno: 4,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":620,"wires":[["1c893782e9844ea9"]]},{"id":"605a53617d9412f9","type":"function","z":"11b4be427f102453","name":"Read AC ch3","func":"msg.target = \"1.51\"\nmsg.code = 6456;\nmsg.payload = {\n    acno: 3,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":560,"wires":[["1c893782e9844ea9"]]},{"id":"2ae4bc5f99974757","type":"function","z":"11b4be427f102453","name":"Read AC ch5","func":"msg.target = \"1.51\"\nmsg.code = 6456;\nmsg.payload = {\n    acno: 5,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":680,"wires":[["1c893782e9844ea9"]]},{"id":"49aad58d579ffd19","type":"delay","z":"11b4be427f102453","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":580,"y":560,"wires":[["605a53617d9412f9"]]},{"id":"6afc122e43be4f08","type":"delay","z":"11b4be427f102453","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":580,"y":500,"wires":[["edef5f32f158eee3"]]},{"id":"67535f32c068d991","type":"delay","z":"11b4be427f102453","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":580,"y":620,"wires":[["7e9937c342dc756d"]]},{"id":"3ba962da763d23b0","type":"delay","z":"11b4be427f102453","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":580,"y":680,"wires":[["2ae4bc5f99974757"]]},{"id":"736d2ca5b38b6459","type":"delay","z":"11b4be427f102453","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":580,"y":440,"wires":[["db5fd18786958855"]]},{"id":"db5fd18786958855","type":"function","z":"11b4be427f102453","name":"Read AC ch1","func":"msg.target = \"1.51\"\nmsg.code = 6456;\nmsg.payload = {\n    acno: 1,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":380,"wires":[["1c893782e9844ea9"]]},{"id":"37417730f1b15455","type":"function","z":"11b4be427f102453","name":"Read status Floorheat ch1","func":"msg.target = \"1.51\"\nmsg.code = 7262;\nmsg.payload = {\n    channel: 1,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":80,"wires":[["1c893782e9844ea9"]]},{"id":"1141db43fe043f7b","type":"delay","z":"11b4be427f102453","name":"","pauseType":"delay","timeout":"0","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":400,"y":80,"wires":[["37417730f1b15455"]]},{"id":"896a3649e8535c73","type":"inject","z":"11b4be427f102453","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"Started!","payloadType":"str","x":240,"y":940,"wires":[["3115f4f15181b1b6"]]},{"id":"3115f4f15181b1b6","type":"function","z":"11b4be427f102453","name":"Read AF ch1","func":"msg.target = \"1.51\"\nmsg.code = 5196;\nmsg.payload = {\n    afno: 1,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":940,"wires":[["1c893782e9844ea9"]]},{"id":"8accfe275003f0db","type":"comment","z":"11b4be427f102453","name":"AC","info":"","x":570,"y":380,"wires":[]},{"id":"3c66b66f21c7938e","type":"comment","z":"11b4be427f102453","name":"AF","info":"","x":570,"y":900,"wires":[]},{"id":"1c893782e9844ea9","type":"hdl-raw-out","z":"11b4be427f102453","controller":"f9afab1701cf2baa","name":"","x":1310,"y":400,"wires":[]},{"id":"3db5efc74415ff97","type":"delay","z":"11b4be427f102453","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":580,"y":740,"wires":[["a4c12ab6a483d908"]]},{"id":"a4c12ab6a483d908","type":"function","z":"11b4be427f102453","name":"Read AC ch6","func":"msg.target = \"1.51\"\nmsg.code = 6456;\nmsg.payload = {\n    acno: 6,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":740,"wires":[["1c893782e9844ea9"]]},{"id":"67239dfd7d76c905","type":"delay","z":"11b4be427f102453","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":580,"y":800,"wires":[["70618fe722fe6533"]]},{"id":"70618fe722fe6533","type":"function","z":"11b4be427f102453","name":"Read AC ch7","func":"msg.target = \"1.51\"\nmsg.code = 6456;\nmsg.payload = {\n    acno: 7,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":800,"wires":[["1c893782e9844ea9"]]},{"id":"5d4a1150a91787e0","type":"delay","z":"11b4be427f102453","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":580,"y":860,"wires":[["f4909ceca910f2d8"]]},{"id":"f4909ceca910f2d8","type":"function","z":"11b4be427f102453","name":"Read AC ch8","func":"msg.target = \"1.51\"\nmsg.code = 6456;\nmsg.payload = {\n    acno: 8,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":860,"wires":[["1c893782e9844ea9"]]},{"id":"766d153cdc27bf86","type":"inject","z":"11b4be427f102453","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"Started!","payloadType":"str","x":240,"y":1020,"wires":[["aca93a161109cfd5"]]},{"id":"aca93a161109cfd5","type":"function","z":"11b4be427f102453","name":"Read Light","func":"msg.target = \"1.50\"\nmsg.code = 51;\nmsg.payload = {\n    channel: 60,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":1020,"wires":[["1c893782e9844ea9"]]},{"id":"b3a6ab7cea08e0a6","type":"hdl-raw-out","z":"aa6144897b5af25e","controller":"f9afab1701cf2baa","name":"空调地暖新风机专用","x":800,"y":420,"wires":[]},{"id":"2642a9175adfb0ab","type":"inject","z":"aa6144897b5af25e","name":"开新风机","props":[{"p":"code","v":"5195","vt":"num"},{"p":"payload"},{"p":"target","v":"255.255","vt":"str"},{"p":"sender","v":"1.51","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"01 01 03 00 A4 00 44 B0 00 00 00 00 00 00 44 28 00 00 00 00 00 00 44 82 00 00 44 E9 00 00","payloadType":"str","x":120,"y":480,"wires":[["9991a38976718404"]]},{"id":"9991a38976718404","type":"function","z":"aa6144897b5af25e","name":"","func":"var noSpaces = msg.payload.replace(/ /g, '');// remove spaces\nmsg.payload = Buffer.from(noSpaces, \"hex\"); //convert to buffer\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":520,"wires":[["b3a6ab7cea08e0a6"]]},{"id":"1bc1a6b910d150ba","type":"inject","z":"aa6144897b5af25e","name":"关新风机","props":[{"p":"code","v":"5197","vt":"num"},{"p":"payload"},{"p":"topic","vt":"str"},{"p":"target","v":"255.255","vt":"str"},{"p":"sender","v":"1.51","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"command","payload":"01 00 02 00 A4 00 41 B0 00 00 00 00 00 00 42 28 00 00 00 00 00 00 43 82 00 00 43 E9 00 00","payloadType":"str","x":120,"y":600,"wires":[["9991a38976718404"]]},{"id":"5251546ef077d594","type":"inject","z":"aa6144897b5af25e","name":"","props":[{"p":"sender","v":"1.51","vt":"str"},{"p":"target","v":"255.255","vt":"str"},{"p":"code","v":"6459","vt":"str"},{"p":"payload.acstatus","v":"true","vt":"bool"},{"p":"payload.acno","v":"1","vt":"num"},{"p":"payload.setupmode","v":"4","vt":"num"},{"p":"payload.setupspeed","v":"3","vt":"num"},{"p":"payload.temperature.type","v":"0","vt":"num"},{"p":"payload.temperature.now","v":"21","vt":"num"},{"p":"payload.temperature.cooling","v":"20","vt":"num"},{"p":"payload.temperature.heating","v":"21","vt":"num"},{"p":"payload.temperature.auto","v":"22","vt":"num"},{"p":"payload.temperature.dry","v":"23","vt":"num"},{"p":"payload.modeandfan","v":"0","vt":"num"},{"p":"payload.currentmode","v":"29","vt":"num"},{"p":"payload.sweep","v":"0","vt":"num"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"command","x":360,"y":280,"wires":[["b3a6ab7cea08e0a6"]]},{"id":"dfb7abe0c10fe862","type":"inject","z":"aa6144897b5af25e","name":"","props":[{"p":"sender","v":"1.51","vt":"str"},{"p":"target","v":"255.255","vt":"str"},{"p":"code","v":"6459","vt":"str"},{"p":"payload.acstatus","v":"true","vt":"bool"},{"p":"payload.acno","v":"2","vt":"num"},{"p":"topic","vt":"str"},{"p":"payload.temperature.type","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"command","x":640,"y":280,"wires":[[]]},{"id":"1092c7324e822eb3","type":"function","z":"aa6144897b5af25e","name":"关新风机58号通道","func":"msg.target = \"1.58\"\nmsg.code = 49;\nvar noSpaces = \"01000000\"\nmsg.payload = Buffer.from(noSpaces, \"hex\"); //convert to buffer\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":620,"wires":[["b3a6ab7cea08e0a6","7faa049749d43ba5"]]},{"id":"7c9e492b307ca48a","type":"function","z":"aa6144897b5af25e","name":"关新风机58号通道","func":"msg.target = \"1.58\"\nmsg.code = 49;\nvar noSpaces = \"02000000\"\nmsg.payload = Buffer.from(noSpaces, \"hex\"); //convert to buffer\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":660,"wires":[["b3a6ab7cea08e0a6","7faa049749d43ba5"]]},{"id":"a4f224562e5523de","type":"delay","z":"aa6144897b5af25e","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":230,"y":740,"wires":[["7c9e492b307ca48a"]]},{"id":"e9fb6018e3e4a31d","type":"function","z":"aa6144897b5af25e","name":"开新风机58号通道","func":"msg.target = \"1.58\"\nmsg.code = 49;\nvar noSpaces = \"01000000\"\nmsg.payload = Buffer.from(noSpaces, \"hex\"); //convert to buffer\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":380,"wires":[["b3a6ab7cea08e0a6"]]},{"id":"4c53d12c4e6f50a2","type":"function","z":"aa6144897b5af25e","name":"开新风机58号通道","func":"msg.target = \"1.58\"\nmsg.code = 49;\nvar noSpaces = \"02640000\"\nmsg.payload = Buffer.from(noSpaces, \"hex\"); //convert to buffer\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":420,"wires":[["b3a6ab7cea08e0a6"]]},{"id":"7faa049749d43ba5","type":"debug","z":"aa6144897b5af25e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":680,"wires":[]},{"id":"516f86a9095abf39","type":"inject","z":"aa6144897b5af25e","name":"开新风机test","props":[{"p":"code","v":"5196","vt":"num"},{"p":"payload"},{"p":"target","v":"1.51","vt":"str"},{"p":"sender","v":"252.252","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":130,"y":320,"wires":[["5c238f373ae8eaf2"]]},{"id":"5c238f373ae8eaf2","type":"debug","z":"aa6144897b5af25e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":340,"wires":[]}]
