test/nodered.json
[{"id":"d409d0a29f7f44cf","type":"tab","label":"主系统灯","disabled":false,"info":"","env":[]},{"id":"11b4be427f102453","type":"tab","label":"自动读取空调地暖新风系统状态","disabled":false,"info":"","env":[]},{"id":"aa6144897b5af25e","type":"tab","label":"My MQTT - HDL test","disabled":false,"info":"","env":[]},{"id":"0a5f8a0d40dd0b16","type":"tab","label":"音乐播放系统","disabled":false,"info":"","env":[]},{"id":"f9afab1701cf2baa","type":"hdl-controller","host":"192.168.6.6","port":"6000","subnetid":"1","deviceid":"51","broadcast":false,"daliId":" "},{"id":"ca58f1bef4881f3b","type":"mqtt-broker","name":"","broker":"192.168.6.9","port":"1883","clientid":"sc_switch","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"338410b9ecc065c9","type":"mqtt-broker","name":"","broker":"192.168.6.9","port":"1883","clientid":"fh_ac_air","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"379d41823d994aa6","type":"mqtt-broker","name":"","broker":"192.168.6.9","port":"1883","clientid":"sensor","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"40506e5ae2cce458","type":"hdl-controller","host":"192.168.6.6","port":"6000","subnetid":"252","deviceid":"252","broadcast":false,"daliId":" "},{"id":"51c9292591f3ccac","type":"server","name":"Home Assistant","version":5,"addon":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":": ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"default","statusTimeFormat":"h:m","enableGlobalContextStore":false},{"id":"f7688362d4a6624e","type":"function","z":"d409d0a29f7f44cf","name":"Dimmer or Relay Answer","func":"if (msg.payload.success == true) \n {\n    msg.topic = \"hdl/sc/\" + msg.sender + \"/\" + msg.payload.channel;\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":100,"wires":[["c60be061e5ba0eac"]]},{"id":"90916b69f59f3b88","type":"function","z":"d409d0a29f7f44cf","name":"Dimmer or Relay Read","func":"var outputMsgs = [];\nif (msg.code == 52) {\n    for (i = 0; i < msg.payload.channels.length; i++) {\n          outputMsgs.push({\n          topic:\"hdl/sc/\" + msg.sender + \"/\" + msg.payload.channels[i].number,\n          payload:{\n              level:msg.payload.channels[i].level\n              \n          }\n      });\n    }\n    return [ outputMsgs ];\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":140,"wires":[["c60be061e5ba0eac"]]},{"id":"e6e91e6c6531d2e7","type":"mqtt out","z":"d409d0a29f7f44cf","name":"","topic":"","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"338410b9ecc065c9","x":1090,"y":880,"wires":[]},{"id":"c60be061e5ba0eac","type":"range","z":"d409d0a29f7f44cf","minin":"0","maxin":"100","minout":"0","maxout":"255","action":"scale","round":true,"property":"payload.level","name":"","x":730,"y":100,"wires":[["c0d2adcfdfa8686c","80da1dc0a67f67f3"]]},{"id":"7aed38565deb1c0c","type":"function","z":"d409d0a29f7f44cf","name":"Sensor Status Broadcasts","func":"var outputMsgs = [];\nif (msg.code == 5703) \n{\n    {\n        outputMsgs.push\n        ({\n          topic:\"hdl/temp/\" + msg.sender + \"/1\",\n          payload : msg.payload.temperature\n        });\n\n        outputMsgs.push\n        ({\n          topic:\"hdl/lux/\" + msg.sender + \"/lux\",\n           payload : msg.payload.brightness\n        });\n    }\n    return [ outputMsgs ];\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":380,"wires":[["41aa3c046441c755"]]},{"id":"bc29607c9c88a3a2","type":"hdl-raw-in","z":"d409d0a29f7f44cf","controller":"f9afab1701cf2baa","name":"From HDL","x":80,"y":340,"wires":[["cf22a85c315dec13"]]},{"id":"f4b85abf981827f6","type":"comment","z":"d409d0a29f7f44cf","name":"Feedback from HDL to MQTT","info":"","x":160,"y":40,"wires":[]},{"id":"102349dc9bae18da","type":"comment","z":"d409d0a29f7f44cf","name":"Single Channel Status","info":"","x":500,"y":60,"wires":[]},{"id":"34ac95eea1ee0cae","type":"comment","z":"d409d0a29f7f44cf","name":"Sensor Status Broadcasts Lux and Temp","info":"","x":560,"y":340,"wires":[]},{"id":"48b0310ebeba4ba1","type":"comment","z":"d409d0a29f7f44cf","name":"Commands from MQTT to HDL","info":"","x":170,"y":1100,"wires":[]},{"id":"94828825b61a85a1","type":"function","z":"d409d0a29f7f44cf","name":"Universal Switch Answer","func":"msg.topic = \"hdl/us/\" + msg.sender + \"/\" + msg.payload.switch;\nvar status = msg.payload.status\nif (status === true) \n    {\n    msg.payload = \"ON\";\n    } \n    else \n    {\n    msg.payload = \"OFF\";\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":240,"wires":[["c0d2adcfdfa8686c"]]},{"id":"a472cec6ba103b35","type":"comment","z":"d409d0a29f7f44cf","name":"Universal Switch","info":"","x":480,"y":200,"wires":[]},{"id":"cf22a85c315dec13","type":"switch","z":"d409d0a29f7f44cf","name":"","property":"code","propertyType":"msg","rules":[{"t":"eq","v":"50","vt":"str"},{"t":"eq","v":"52","vt":"str"},{"t":"eq","v":"57373","vt":"str"},{"t":"eq","v":"57369","vt":"str"},{"t":"eq","v":"5703","vt":"str"},{"t":"eq","v":"5637","vt":"str"},{"t":"eq","v":"58341","vt":"str"},{"t":"eq","v":"6471","vt":"str"},{"t":"eq","v":"6469","vt":"str"},{"t":"eq","v":"7263","vt":"str"},{"t":"eq","v":"7261","vt":"str"},{"t":"eq","v":"6457","vt":"str"},{"t":"eq","v":"6459","vt":"str"},{"t":"eq","v":"5197","vt":"str"},{"t":"eq","v":"5195","vt":"str"},{"t":"eq","v":"57372","vt":"str"}],"checkall":"false","repair":false,"outputs":16,"x":170,"y":620,"wires":[["f7688362d4a6624e"],["90916b69f59f3b88"],["94828825b61a85a1"],["73fc642b8eb78a77"],["7aed38565deb1c0c"],["b99092c085925c66"],["367301f3fb7d3dae"],["ca3dc95602747d75","723cad02ff85aa77"],["723cad02ff85aa77","ca3dc95602747d75"],["d4c7e2802d3aab8a","945e3545774a5281"],["945e3545774a5281","d4c7e2802d3aab8a"],["05c09355d256695e","0ba22a37d6db866e"],["0ba22a37d6db866e","05c09355d256695e"],["42b3533af04be3ed","b5a4d36602008566"],["42b3533af04be3ed","bf9ce76bb7648960","77b8990ee3892b59"],["2b18527b28c986a6"]]},{"id":"b4977c49ff365c0e","type":"comment","z":"d409d0a29f7f44cf","name":"Temprature Sensors","info":"","x":490,"y":540,"wires":[]},{"id":"367301f3fb7d3dae","type":"function","z":"d409d0a29f7f44cf","name":"Temprature Broadcasts","func":"msg.topic = \"hdl/temp/\" + msg.sender + \"/\" + msg.payload.channel;\nvar temp = msg.payload.temperature\nmsg.payload = temp\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":580,"wires":[["41aa3c046441c755"]]},{"id":"73fc642b8eb78a77","type":"function","z":"d409d0a29f7f44cf","name":"Universal Switch Read","func":"msg.topic = \"hdl/us/\" + msg.sender + \"/\" + msg.payload.switch;\nvar status = msg.payload.status\nif (status === true) \n    {\n    msg.payload = \"ON\";\n    } \n    else \n    {\n    msg.payload = \"OFF\";\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":280,"wires":[["c0d2adcfdfa8686c"]]},{"id":"c20fcfd152705dca","type":"comment","z":"d409d0a29f7f44cf","name":"AC / Heatpump","info":"","x":520,"y":900,"wires":[]},{"id":"c27be99c4d110263","type":"comment","z":"d409d0a29f7f44cf","name":"Floorheat Thermostat DLP","info":"","x":510,"y":640,"wires":[]},{"id":"05c09355d256695e","type":"function","z":"d409d0a29f7f44cf","name":"Air condition Unit Command from DLP    ","func":"//Insert MQTT Topic\nmsg.topic = \"hdl/ac/\" + msg.sender + \".\" + msg.payload.acno;\n\n//Mode - Change nr to Mode and set current set temprature\nvar amode= msg.payload.setupmode \nif (amode === 0){var Mode = \"cool\"; var Thismodetempset = msg.payload.temperature.cooling}\nif (amode === 1){var Mode = \"heat\"; var Thismodetempset = msg.payload.temperature.heating}\nif (amode === 2){var Mode = \"fan_only\"}\nif (amode === 3){var Mode = \"auto\"; var Thismodetempset = msg.payload.temperature.auto}\nif (amode === 4){var Mode = \"dry\"; var Thismodetempset = msg.payload.temperature.dry}\nmsg.payload.currentmode = Thismodetempset\n\n//Power - Change true to ON and mode to off if off\nvar power = msg.payload.acstatus;\nif (power === false){newpower = \"OFF\"; var Mode = \"off\"}\nmsg.payload.setupmode= Mode\n\n//Change nr to fanspeed\nvar aspeed= msg.payload.setupspeed \nif (aspeed === 0){var Speed = \"auto\"}\nif (aspeed === 1){var Speed = \"high\"}\nif (aspeed === 2){var Speed = \"medium\"}\nif (aspeed === 3){var Speed = \"low\"}\nmsg.payload.setupspeed= Speed\n\n//Change nr to sweep state\nvar sweep = msg.payload.sweep;\nif (sweep === 0){var newsweep = \"OFF\"}\nif (sweep === 1){var newsweep = \"ON\"}\nmsg.payload.sweep = newsweep\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":980,"wires":[["e6e91e6c6531d2e7"]]},{"id":"ca3dc95602747d75","type":"function","z":"d409d0a29f7f44cf","name":"Floorheat Update/Answer from DLP","func":"//Insert MQTT Topic\nmsg.topic = \"hdl/fh/\" + msg.sender + \"/01\";\n\n//Power Change true/false to ON/OFF\nvar power = msg.payload.status;\nif (power === true){newpower = \"heat\"}\nif (power === false){newpower = \"off\"}\nmsg.payload.status = newpower\n\n//Mode Change from nr to mode 1:Normal 2:Day 3:Night 4:Away 5:Timer. And add current temprature\nvar fhmode= msg.payload.mode \nif (fhmode === 1){var textmode = \"Normal\"; var tempnow = msg.payload.temperature.normal}\nif (fhmode === 2){var textmode = \"Day\"; var tempnow = msg.payload.temperature.day}\nif (fhmode === 3){var textmode = \"Night\"; var tempnow = msg.payload.temperature.night}\nif (fhmode === 4){var textmode = \"Away\"; var tempnow = msg.payload.temperature.away}\nif (fhmode === 5){var textmode = \"Timer\"}\nmsg.payload.textmode= textmode\nmsg.payload.temperature.now = tempnow\n\n//Awaymode\n//if (textmode ==\"Away\"){msg.payload.awaymode = \"On\"}\n//    else{msg.payload.awaymode = \"Off\"}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":720,"wires":[["e6e91e6c6531d2e7"]]},{"id":"723cad02ff85aa77","type":"function","z":"d409d0a29f7f44cf","name":"Save msg to flow variable","func":"//Save to flow variable for later use\nflow.set(\"hdl/fh/\" + msg.sender + \"/hdlstate\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":680,"wires":[[]]},{"id":"0ba22a37d6db866e","type":"function","z":"d409d0a29f7f44cf","name":"Save msg to flow variable","func":"//Save to flow variable for later use\nflow.set(\"hdl/ac/\" + msg.sender + \".\" + msg.payload.acno + \"/hdlstate\", msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":940,"wires":[[]]},{"id":"6e360050af29aab2","type":"comment","z":"d409d0a29f7f44cf","name":"Floorheat Thermostat Heatmodule MFH06","info":"","x":560,"y":780,"wires":[]},{"id":"945e3545774a5281","type":"function","z":"d409d0a29f7f44cf","name":"Floorheat Update/Answer from Heatmodule","func":"//Insert MQTT Topic\nmsg.topic = \"hdl/hm/\" + msg.sender + \".\" + msg.payload.channel;\n\n//Power Change true/false to ON/OFF\nvar power = msg.payload.work.status;\nif (power === true){newpower = \"heat\"}\nif (power === false){newpower = \"off\"}\nmsg.payload.status = newpower\n\n//Mode Change from nr to mode 1:Normal 2:Day 3:Night 4:Away 5:Timer. And add current temprature\nvar fhmode= msg.payload.mode \nif (fhmode === 1){var textmode = \"Normal\"; var tempnow = msg.payload.temperature.normal}\nif (fhmode === 2){var textmode = \"Day\"; var tempnow = msg.payload.temperature.day}\nif (fhmode === 3){var textmode = \"Night\"; var tempnow = msg.payload.temperature.night}\nif (fhmode === 4){var textmode = \"Away\"; var tempnow = msg.payload.temperature.away}\nif (fhmode === 5){var textmode = \"Timer\"}\nmsg.payload.textmode= textmode\nmsg.payload.temperature.now = tempnow\n\n//Awaymode\n//if (textmode ==\"Away\"){msg.payload.awaymode = \"On\"}\n//    else{msg.payload.awaymode = \"Off\"}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":860,"wires":[["e6e91e6c6531d2e7"]]},{"id":"d4c7e2802d3aab8a","type":"function","z":"d409d0a29f7f44cf","name":"Save msg to flow variable","func":"//Save to flow variable for later use\nflow.set(\"hdl/hm/\" + msg.sender + \"/\" + msg.payload.channel +\"/hdlstate\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":820,"wires":[[]]},{"id":"90c44096c16dc1c1","type":"comment","z":"d409d0a29f7f44cf","name":"New Sensor Status Broadcasts Lux,Temp and Humid","info":"","x":590,"y":440,"wires":[]},{"id":"b99092c085925c66","type":"function","z":"d409d0a29f7f44cf","name":"Sensor Status Broadcasts","func":"var outputMsgs = [];\nif (msg.code == 5637) \n{\n    {\n        outputMsgs.push\n        ({\n          topic:\"hdl/temp/\" + msg.sender + \"/1\",\n          payload : msg.payload.temperature\n        });\n\n        outputMsgs.push\n        ({\n          topic:\"hdl/lux/\" + msg.sender + \"/Lux\",\n           payload : msg.payload.brightness\n        });\n    \n        outputMsgs.push\n        ({\n          topic:\"hdl/Humidity/\" + msg.sender + \"/Humidity\",\n           payload : msg.payload.humidity\n        });\n        \n    }\n    return [ outputMsgs ];\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":480,"wires":[["41aa3c046441c755"]]},{"id":"8a65aa05f99a0925","type":"comment","z":"d409d0a29f7f44cf","name":"AF","info":"","x":490,"y":1020,"wires":[]},{"id":"42b3533af04be3ed","type":"function","z":"d409d0a29f7f44cf","name":"Save msg to flow variable","func":"//Save to flow variable for later use\nflow.set(\"hdl/af/\" + msg.sender + \".\" + msg.payload.afno + \"/hdlstate\", msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":1060,"wires":[[]]},{"id":"b5a4d36602008566","type":"function","z":"d409d0a29f7f44cf","name":"Air Fresh Unit Command from DLP    ","func":"//Insert MQTT Topic\nmsg.topic = \"hdl/af/\" + msg.sender + \".\" + msg.payload.afno;\n//Mode - Change nr to Mode and set current set temprature\n//Power Change true/false to ON/OFF\nvar power = msg.payload.afstatus;\nif (power === true){var newpower = \"fan_only\"}\nif (power === false){var newpower = \"off\"}\nmsg.payload.status = newpower\n\n//Change af to fanspeed\nvar afspeed= msg.payload.setupspeed \nif (afspeed === 0){var Speed = \"auto\"}\nif (afspeed === 1){var Speed = \"low\"}\nif (afspeed === 2){var Speed = \"medium\"}\nif (afspeed === 3){var Speed = \"high\"}\nmsg.payload.setupspeed= Speed\n\n\nvar afmode= msg.payload.setupmode \nif (afmode === 0){var mode = \"smart\"}\nif (afmode === 1){var mode = \"manual\"}\nif (afmode === 2){var mode = \"internal\"}\nif (afmode === 3){var mode = \"thermostat\"}\nmsg.payload.setupmode= mode\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1100,"wires":[["e6e91e6c6531d2e7"]]},{"id":"c0d2adcfdfa8686c","type":"mqtt out","z":"d409d0a29f7f44cf","name":"","topic":"","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ca58f1bef4881f3b","x":1230,"y":260,"wires":[]},{"id":"41aa3c046441c755","type":"mqtt out","z":"d409d0a29f7f44cf","name":"","topic":"","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"379d41823d994aa6","x":1210,"y":480,"wires":[]},{"id":"80da1dc0a67f67f3","type":"function","z":"d409d0a29f7f44cf","name":"场景模式开关灯检测","func":"\nif (msg.payload.channel === 255)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":20,"wires":[["0778363802504df4"]]},{"id":"0778363802504df4","type":"function","z":"d409d0a29f7f44cf","name":"Read Light","func":"msg.target = \"1.50\"\nmsg.code = 51;\nmsg.payload = {\n    channel: 60,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1330,"y":80,"wires":[["9e110606e9a141a9"]]},{"id":"9e110606e9a141a9","type":"hdl-raw-out","z":"d409d0a29f7f44cf","controller":"f9afab1701cf2baa","name":"","x":1550,"y":80,"wires":[]},{"id":"f90e4ad8be9bbbdc","type":"function","z":"d409d0a29f7f44cf","name":"Air Fresh Sensor from DLP    ","func":"//Insert MQTT Topic\nmsg.topic = \"hdl/af_temp/\" + msg.sender + \".\" + msg.payload.afno;\n//Mode - Change nr to Mode and set current set temprature\n//Power Change true/false to ON/OFF\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":1140,"wires":[["e6e91e6c6531d2e7"]]},{"id":"bf9ce76bb7648960","type":"delay","z":"d409d0a29f7f44cf","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":460,"y":1140,"wires":[["f90e4ad8be9bbbdc"]]},{"id":"77b8990ee3892b59","type":"change","z":"d409d0a29f7f44cf","name":"","rules":[{"t":"delete","p":"payload.temperature.pm25","pt":"msg"},{"t":"delete","p":"payload.temperature.tvoc","pt":"msg"},{"t":"delete","p":"payload.temperature.co2","pt":"msg"},{"t":"delete","p":"payload.temperature.humidity","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":1020,"wires":[["b5a4d36602008566"]]},{"id":"1571c8a8e49b6c14","type":"function","z":"d409d0a29f7f44cf","name":"测试关全部aqara的灯","func":"if (msg.payload.status === true)\nmsg.payload = \"ON\";\nif (msg.payload.status === false)\nmsg.payload = \"OFF\";\nreturn msg;\n/*测试关全部aqara的灯 根据hdl全局关通用开关85联动*/","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":1240,"wires":[["16ee2234333f8385"]]},{"id":"16ee2234333f8385","type":"api-call-service","z":"d409d0a29f7f44cf","name":"","server":"51c9292591f3ccac","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":["357af9fcf622f82a962f2014a74dff5b","2648ab11d5c1d513d0330eb3e03ea085","ce2528537f68c17fbf09620591ee081e","8f3abe0240a6fae07e7e36edcd2ff267","450ace13fa18838ed0cd73638722cfb5","bbfc6b1ffa663d31d50bdfad7a16810f","ae86d724462677fa8ac7e8161fd55738","61a81e5eaf85459553bf15d0cff6fda9","dc107529873452936636ca64df927bb4","565ebb4d607ed47bc9816c80f812de27","0eed920f07e8d806777a0525e32e0e12","73ec9d3750687e27ea77dce2b69d11b4","6c8101dc832d186ae642968eed34b232","6f46e562f89bd15e6ca794e6ebd56ce7"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":900,"y":1220,"wires":[[]]},{"id":"fef7564cd271bf53","type":"comment","z":"d409d0a29f7f44cf","name":"Single Channel Status","info":"","x":500,"y":1180,"wires":[]},{"id":"565bad86310d0418","type":"json","z":"d409d0a29f7f44cf","name":"","property":"payload","action":"obj","pretty":true,"x":470,"y":1840,"wires":[["54c54c0e99f07499"]]},{"id":"54c54c0e99f07499","type":"range","z":"d409d0a29f7f44cf","minin":"0","maxin":"255","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload.level","name":"","x":600,"y":1840,"wires":[["12f503b35aeff61c"]]},{"id":"12f503b35aeff61c","type":"function","z":"d409d0a29f7f44cf","name":"Light or Relay","func":"msg.code = 49;\n\nmsg.target = msg.topic.split(\"/\")[2];\nvar time = msg.payload.time;\nvar level = Math.min(Math.max(parseInt(msg.payload.level), 0), 100);\n\nmsg.payload = {\n    channel: msg.topic.split(\"/\")[3],\n    time: time,\n    level: level,\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":1840,"wires":[["fef4ca11f287479d"]]},{"id":"9b2e5f67d92eb556","type":"switch","z":"d409d0a29f7f44cf","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"hdl/sc/","vt":"str"},{"t":"cont","v":"hdl/us/","vt":"str"},{"t":"cont","v":"hdl/fh/","vt":"str"},{"t":"cont","v":"hdl/hm/","vt":"str"},{"t":"cont","v":"hdl/ac/","vt":"str"},{"t":"cont","v":"hdl/af/","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":250,"y":2000,"wires":[["565bad86310d0418"],["b1b2f5578daf9921"],["b989c322da784388"],["5221b9e27190eefb"],["0277c060ae28fde2"],["7c73e0e8bc45fddf"]]},{"id":"b1b2f5578daf9921","type":"function","z":"d409d0a29f7f44cf","name":"Universal Switch","func":"var usswitch = msg.topic.split(\"/\")[3];\nvar command = msg.payload;\nif (command === \"ON\") \n    {\n    hdlcommand = true;\n    } \n    else \n    {\n    hdlcommand = false;\n    }\nmsg.code = 57372;\nmsg.target = msg.topic.split(\"/\")[2];\nmsg.payload = {\n    switch: usswitch,\n    status: hdlcommand,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":1880,"wires":[["fef4ca11f287479d"]],"info":"msg.topic = \"hdl/us/\" + msg.sender + \"/\" + msg.payload.switch;\nvar status = msg.payload.status\nif (status === true) \n    {\n    msg.payload = \"ON\";\n    } \n    else \n    {\n    msg.payload = \"OFF\";\n    }\nreturn msg;"},{"id":"13cfc0ee1b828507","type":"switch","z":"d409d0a29f7f44cf","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"/mode/set","vt":"str"},{"t":"cont","v":"/textmode/set","vt":"str"},{"t":"cont","v":"/temperature/set","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":570,"y":2060,"wires":[["234f971b363daf21"],["5d0d05ffb3b48f8f"],["1b3bfb4f62154808"]]},{"id":"b989c322da784388","type":"function","z":"d409d0a29f7f44cf","name":"Flow get","func":"//Get Old status from flow variable for complete message\nmsg.oldhdlstate =flow.get(\"hdl/fh/\" + msg.topic.split(\"/\")[2] + \"/hdlstate\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":2060,"wires":[["13cfc0ee1b828507"]]},{"id":"06bae3f5d47d7691","type":"comment","z":"d409d0a29f7f44cf","name":"Universal Switch","info":"","x":500,"y":1900,"wires":[]},{"id":"24e411f3922a9ed1","type":"comment","z":"d409d0a29f7f44cf","name":"Floorheat Thermostat DLP","info":"","x":570,"y":1980,"wires":[]},{"id":"5d0d05ffb3b48f8f","type":"function","z":"d409d0a29f7f44cf","name":"New Preset Mode","func":"// Change from MQTT textmode to HDL nrmode \nvar fhmode = msg.payload\nif (fhmode === \"Normal\"){msg.oldhdlstate.mode = 1}\nif (fhmode === \"Day\"){msg.oldhdlstate.mode = 2}\nif (fhmode === \"Night\"){msg.oldhdlstate.mode = 3}\nif (fhmode === \"Away\"){msg.oldhdlstate.mode = 4}\nif (fhmode === \"Timer\"){msg.oldhdlstate.mode = 5}\n\n//Build new HDL message\nmsg.target = msg.topic.split(\"/\")[2]\nmsg.code = 6470\nmsg.payload = msg.oldhdlstate\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":1980,"wires":[["fef4ca11f287479d"]]},{"id":"234f971b363daf21","type":"function","z":"d409d0a29f7f44cf","name":"New Mode","func":"// Change from Off or heat to true/false\nif (msg.payload === \"off\") {msg.oldhdlstate.status = false}\nif (msg.payload === \"heat\") {msg.oldhdlstate.status = true}\n//Build new HDL message\nmsg.target = msg.topic.split(\"/\")[2]\nmsg.code = 6470\nmsg.payload = msg.oldhdlstate\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":1940,"wires":[["fef4ca11f287479d"]]},{"id":"1b3bfb4f62154808","type":"function","z":"d409d0a29f7f44cf","name":"New Temp","func":"// Check witch mode active and save new temperature to that mode\nnormal = msg.oldhdlstate.temperature.normal \nday = msg.oldhdlstate.temperature.day\nnight = msg.oldhdlstate.temperature.night\naway = msg.oldhdlstate.temperature.away\n\nif (msg.oldhdlstate.mode === 1){normal = msg.payload}\nif (msg.oldhdlstate.mode === 2){day = msg.payload}\nif (msg.oldhdlstate.mode === 3){night = msg.payload}\nif (msg.oldhdlstate.mode === 4){away = msg.payload}\n\nmsg.oldhdlstate.temperature.normal = Number(normal)\nmsg.oldhdlstate.temperature.day = Number(day)\nmsg.oldhdlstate.temperature.night = Number(night)\nmsg.oldhdlstate.temperature.away = Number(away)\n\n//Build new HDL message\nmsg.target = msg.topic.split(\"/\")[2]\nmsg.code = 6470\nmsg.payload = msg.oldhdlstate\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":2020,"wires":[["fef4ca11f287479d"]]},{"id":"924768afbce95647","type":"switch","z":"d409d0a29f7f44cf","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"/mode/set","vt":"str"},{"t":"cont","v":"/textmode/set","vt":"str"},{"t":"cont","v":"/temperature/set","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":570,"y":2240,"wires":[["0f6e549052100ef1"],["45955344839086c8"],["f9abce9ded39bdf3"]]},{"id":"5221b9e27190eefb","type":"function","z":"d409d0a29f7f44cf","name":"Flow get","func":"//Get Old status from flow variable for complete message\naddressandchannel = msg.topic.split(\"/\")[2]\nmsg.channel = addressandchannel.split(\".\")[2]\nmsg.target = addressandchannel.split(\".\")[0] + \".\" + addressandchannel.split(\".\")[1]\nmsg.oldhdlstate =flow.get(\"hdl/hm/\" + msg.target + \"/\" + msg.channel + \"/hdlstate\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":2240,"wires":[["924768afbce95647"]]},{"id":"b80b0e2e0e978d7a","type":"comment","z":"d409d0a29f7f44cf","name":"Floorheat Thermostat Heatmodule MFH06","info":"","x":620,"y":2160,"wires":[]},{"id":"45955344839086c8","type":"function","z":"d409d0a29f7f44cf","name":"New Preset Mode","func":"// Change from MQTT textmode to HDL nrmode \nvar fhmode = msg.payload\nif (fhmode === \"Normal\"){msg.oldhdlstate.mode = 1}\nif (fhmode === \"Day\"){msg.oldhdlstate.mode = 2}\nif (fhmode === \"Night\"){msg.oldhdlstate.mode = 3}\nif (fhmode === \"Away\"){msg.oldhdlstate.mode = 4}\nif (fhmode === \"Timer\"){msg.oldhdlstate.mode = 5}\n\n//Build new HDL message\nmsg.code = 7260\nmsg.payload = msg.oldhdlstate\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":2160,"wires":[["fef4ca11f287479d"]]},{"id":"0f6e549052100ef1","type":"function","z":"d409d0a29f7f44cf","name":"New Mode","func":"// Change from Off or heat to true/false\nif (msg.payload === \"off\") {msg.oldhdlstate.work.status = false}\nif (msg.payload === \"heat\") {msg.oldhdlstate.work.status = true}\n//Build new HDL message\nmsg.code = 7260\nmsg.payload = msg.oldhdlstate\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":2120,"wires":[["fef4ca11f287479d"]]},{"id":"f9abce9ded39bdf3","type":"function","z":"d409d0a29f7f44cf","name":"New Temp","func":"// Check witch mode active and save new temperature to that mode\nnormal = msg.oldhdlstate.temperature.normal \nday = msg.oldhdlstate.temperature.day\nnight = msg.oldhdlstate.temperature.night\naway = msg.oldhdlstate.temperature.away\n\nif (msg.oldhdlstate.mode === 1){normal = msg.payload}\nif (msg.oldhdlstate.mode === 2){day = msg.payload}\nif (msg.oldhdlstate.mode === 3){night = msg.payload}\nif (msg.oldhdlstate.mode === 4){away = msg.payload}\n\nmsg.oldhdlstate.temperature.normal = Number(normal)\nmsg.oldhdlstate.temperature.day = Number(day)\nmsg.oldhdlstate.temperature.night = Number(night)\nmsg.oldhdlstate.temperature.away = Number(away)\n\n//Build new HDL message\nmsg.code = 7260\nmsg.payload = msg.oldhdlstate\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":2200,"wires":[["fef4ca11f287479d"]]},{"id":"e329a1e5f14a7e0f","type":"mqtt in","z":"d409d0a29f7f44cf","name":"","topic":"hdl/+/+/+/set","qos":"0","datatype":"auto","broker":"338410b9ecc065c9","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":1980,"wires":[["9b2e5f67d92eb556"]]},{"id":"3f50d0f2fdbe5db9","type":"switch","z":"d409d0a29f7f44cf","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"/mode/set","vt":"str"},{"t":"cont","v":"/temperature/set","vt":"str"},{"t":"cont","v":"/fan/set","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":530,"y":2380,"wires":[["aebb0c75dd969fca"],["f464921b1f442181"],["6b93b8e98eac4a13"]]},{"id":"e892611df0c139cb","type":"comment","z":"d409d0a29f7f44cf","name":"Air condition","info":"","x":530,"y":2320,"wires":[]},{"id":"0277c060ae28fde2","type":"function","z":"d409d0a29f7f44cf","name":"Flow get","func":"//Get Old status from flow variable for complete message\naddressacno = msg.topic.split(\"/\")[2]\nacno = addressacno.split(\".\")[2]\nmsg.oldhdlstate =flow.get(\"hdl/ac/\" + addressacno  + \"/hdlstate\");\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":2380,"wires":[["3f50d0f2fdbe5db9"]]},{"id":"aebb0c75dd969fca","type":"function","z":"d409d0a29f7f44cf","name":"New Mode","func":"//Set current temperature from oldstate and change mode to nr and not text\nvar acmode = msg.payload\nif (acmode === \"cool\"){var acstatus = true; var accurrenttemp = msg.oldhdlstate.temperature.cooling; var newacmode = 0}\nif (acmode === \"heat\"){var acstatus = true; var accurrenttemp = msg.oldhdlstate.temperature.heating; var newacmode = 1}\nif (acmode === \"fan_only\"){var acstatus = true; var accurrenttemp = 0; var newacmode = 2}\nif (acmode === \"auto\"){var acstatus = true; var accurrenttemp = msg.oldhdlstate.temperature.auto; var newacmode = 3}\nif (acmode === \"dry\"){var acstatus = true; var accurrenttemp = msg.oldhdlstate.temperature.dry; var newacmode = 4}\n\n//If off change acstatus and old mode\nif (acmode === \"off\")\n{\n    var acstatus = false; \n    if (msg.oldhdlstate.setupmode === 0){var accurrenttemp = msg.oldhdlstate.temperature.cooling; var newacmode = 0}\n    if (msg.oldhdlstate.setupmode === 1){var accurrenttemp = msg.oldhdlstate.temperature.heating; var newacmode = 1}\n    if (msg.oldhdlstate.setupmode === 2){var accurrenttemp = 0; var newacmode = 2}\n    if (msg.oldhdlstate.setupmode === 3){var accurrenttemp = msg.oldhdlstate.temperature.auto; var newacmode = 3}\n    if (msg.oldhdlstate.setupmode === 4){var accurrenttemp = msg.oldhdlstate.temperature.dry; var newacmode = 4}\n}\n\n//   - Insert to msg object\nmsg.oldhdlstate.currentmode = accurrenttemp\nmsg.oldhdlstate.setupmode = newacmode\nmsg.oldhdlstate.acstatus = acstatus\n\n//Build new HDL message\nmsg.target = msg.topic.split(\"/\")[2]\nmsg.code = 6458\nmsg.payload = msg.oldhdlstate\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":2400,"wires":[["2d49ac8e5f24e38e","a4b74f895268de30"]],"info":"msg.topic = \"hdl/us/\" + msg.sender + \"/\" + msg.payload.switch;\nvar status = msg.payload.status\nif (status === true) \n    {\n    msg.payload = \"ON\";\n    } \n    else \n    {\n    msg.payload = \"OFF\";\n    }\nreturn msg;"},{"id":"c4d3bf2fd3532ed5","type":"function","z":"d409d0a29f7f44cf","name":"Temp","func":"//Set new temperature to HDL message\nvar acurrtemp = msg.payload\nif (msg.oldhdlstate.setupmode === 0) { msg.oldhdlstate.temperature.cooling = acurrtemp; msg.oldhdlstate.currentmode = acurrtemp}\nif (msg.oldhdlstate.setupmode === 1) { msg.oldhdlstate.temperature.heating = acurrtemp; msg.oldhdlstate.currentmode = acurrtemp}\n//if (msg.oldhdlstate.setupmode === 2){var accurrtemp = 0}\nif (msg.oldhdlstate.setupmode === 3) { msg.oldhdlstate.temperature.auto = acurrtemp; msg.oldhdlstate.currentmode = acurrtemp}\nif (msg.oldhdlstate.setupmode === 4) { msg.oldhdlstate.temperature.dry = acurrtemp; msg.oldhdlstate.currentmode = acurrtemp}\n\n// Build AC broadcast\nmsg.target = msg.topic.split(\"/\")[2]\nmsg.code = 6458,\nmsg.payload = msg.oldhdlstate\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":2380,"wires":[["2d49ac8e5f24e38e","a4b74f895268de30"]],"info":"msg.topic = \"hdl/us/\" + msg.sender + \"/\" + msg.payload.switch;\nvar status = msg.payload.status\nif (status === true) \n    {\n    msg.payload = \"ON\";\n    } \n    else \n    {\n    msg.payload = \"OFF\";\n    }\nreturn msg;"},{"id":"f464921b1f442181","type":"range","z":"d409d0a29f7f44cf","minin":"0","maxin":"100","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"Round","x":650,"y":2380,"wires":[["c4d3bf2fd3532ed5"]]},{"id":"6b93b8e98eac4a13","type":"function","z":"d409d0a29f7f44cf","name":"New Fan Mode","func":"//AC fan speed text to speed\nvar acspeed = msg.payload\nif (acspeed === \"auto\"){msg.oldhdlstate.setupspeed = 0}\nif (acspeed === \"high\"){msg.oldhdlstate.setupspeed = 1}\nif (acspeed === \"medium\"){msg.oldhdlstate.setupspeed = 2}\nif (acspeed === \"low\"){msg.oldhdlstate.setupspeed = 3}\n\n// Build AC broadcast\nmsg.target = msg.topic.split(\"/\")[2]\nmsg.code = 6458,\nmsg.payload = msg.oldhdlstate\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":2440,"wires":[["2d49ac8e5f24e38e","a4b74f895268de30"]],"info":"msg.topic = \"hdl/us/\" + msg.sender + \"/\" + msg.payload.switch;\nvar status = msg.payload.status\nif (status === true) \n    {\n    msg.payload = \"ON\";\n    } \n    else \n    {\n    msg.payload = \"OFF\";\n    }\nreturn msg;"},{"id":"aa65135abb8923b8","type":"comment","z":"d409d0a29f7f44cf","name":"Air Fresh","info":"","x":540,"y":2500,"wires":[]},{"id":"724dd5e0b3c1c72d","type":"switch","z":"d409d0a29f7f44cf","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"/mode/set","vt":"str"},{"t":"cont","v":"/textmode/set","vt":"str"},{"t":"cont","v":"/fan/set","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":490,"y":2580,"wires":[["499a4102042f814e"],["265641551bebd9ee"],["80b47d4d9a58f463"]]},{"id":"80b47d4d9a58f463","type":"function","z":"d409d0a29f7f44cf","name":"New Fan Mode","func":"//AF fan speed text to speed\nvar afspeed = msg.payload\nif (afspeed === \"auto\"){msg.oldhdlstate.setupspeed = 0}\nif (afspeed === \"low\"){msg.oldhdlstate.setupspeed = 1}\nif (afspeed === \"medium\"){msg.oldhdlstate.setupspeed = 2}\nif (afspeed === \"high\"){msg.oldhdlstate.setupspeed = 3}\n\n\n\n// Build AC broadcast\nmsg.target = \"1.51\"\nmsg.code = 5194\nmsg.payload = msg.oldhdlstate\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":2680,"wires":[["4520b52ec888cd48"]],"info":"msg.topic = \"hdl/us/\" + msg.sender + \"/\" + msg.payload.switch;\nvar status = msg.payload.status\nif (status === true) \n    {\n    msg.payload = \"ON\";\n    } \n    else \n    {\n    msg.payload = \"OFF\";\n    }\nreturn msg;"},{"id":"499a4102042f814e","type":"function","z":"d409d0a29f7f44cf","name":"New Mode","func":"// Change from Off or heat to true/false\nif (msg.payload === \"off\") {msg.oldhdlstate.afstatus = false}\nif (msg.payload === \"fan_only\") {msg.oldhdlstate.afstatus = true}\n//Build new HDL message\nmsg.target = \"1.51\"\nmsg.code = 5194\nmsg.payload = msg.oldhdlstate\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":2600,"wires":[["4520b52ec888cd48"]],"info":"msg.topic = \"hdl/us/\" + msg.sender + \"/\" + msg.payload.switch;\nvar status = msg.payload.status\nif (status === true) \n    {\n    msg.payload = \"ON\";\n    } \n    else \n    {\n    msg.payload = \"OFF\";\n    }\nreturn msg;"},{"id":"7c73e0e8bc45fddf","type":"function","z":"d409d0a29f7f44cf","name":"Flow get","func":"addressafno = msg.topic.split(\"/\")[2]\nafno = addressafno.split(\".\")[2]\nmsg.oldhdlstate = flow.get(\"hdl/af/\" + addressafno  + \"/hdlstate\");\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":2540,"wires":[["724dd5e0b3c1c72d"]]},{"id":"265641551bebd9ee","type":"function","z":"d409d0a29f7f44cf","name":"New Preset Mode","func":"// Change from MQTT textmode to HDL nrmode \nvar fhmode = msg.payload\nif (fhmode === \"smart\"){msg.oldhdlstate.setupmode = 0}\nif (fhmode === \"manual\"){msg.oldhdlstate.setupmode = 1}\nif (fhmode === \"internal\"){msg.oldhdlstate.setupmode = 2}\nif (fhmode === \"thermostat\"){msg.oldhdlstate.setupmode = 3}\n\n\n//Build new HDL message\nmsg.target = \"1.51\"\nmsg.code = 5194\nmsg.payload = msg.oldhdlstate\n\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":2640,"wires":[["4520b52ec888cd48"]]},{"id":"2d49ac8e5f24e38e","type":"function","z":"d409d0a29f7f44cf","name":"","func":"if (msg.payload.setupmode === 3)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":2420,"wires":[["43e7f89c6ce0e958"]]},{"id":"a4b74f895268de30","type":"function","z":"d409d0a29f7f44cf","name":"","func":"return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":2320,"wires":[["fef4ca11f287479d"]]},{"id":"4520b52ec888cd48","type":"hdl-raw-out","z":"d409d0a29f7f44cf","controller":"f9afab1701cf2baa","name":"新风机专用","x":1270,"y":2560,"wires":[]},{"id":"43e7f89c6ce0e958","type":"delay","z":"d409d0a29f7f44cf","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1190,"y":2360,"wires":[["fef4ca11f287479d"]]},{"id":"fef4ca11f287479d","type":"hdl-raw-out","z":"d409d0a29f7f44cf","controller":"f9afab1701cf2baa","name":"","x":1290,"y":2180,"wires":[]},{"id":"2b18527b28c986a6","type":"switch","z":"d409d0a29f7f44cf","name":"","property":"payload.switch","propertyType":"msg","rules":[{"t":"eq","v":"85","vt":"num"},{"t":"eq","v":"10","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":1300,"wires":[["1571c8a8e49b6c14"],["6febe313fe888397"]]},{"id":"6febe313fe888397","type":"switch","z":"d409d0a29f7f44cf","name":"客厅窗帘开关","property":"payload.status","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":1300,"wires":[["bc95200658df76c7"],["78907228f25c9920"]]},{"id":"bc95200658df76c7","type":"api-call-service","z":"d409d0a29f7f44cf","name":"开客厅窗帘","server":"51c9292591f3ccac","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.0x54ef44100043a7b4_motor","cover.0x54ef44100043ac5d_motor"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":890,"y":1280,"wires":[[]]},{"id":"78907228f25c9920","type":"api-call-service","z":"d409d0a29f7f44cf","name":"关客厅窗帘","server":"51c9292591f3ccac","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.0x54ef44100043a7b4_motor","cover.0x54ef44100043ac5d_motor"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":890,"y":1340,"wires":[[]]},{"id":"6f0ffd648c0412b6","type":"api-call-service","z":"d409d0a29f7f44cf","name":"test","server":"51c9292591f3ccac","version":5,"debugenabled":false,"domain":"humidifier","service":"close_cover","areaId":[],"deviceId":[],"entityId":["sensor.0x158d0008ce826b_humidity","sensor.0x158d0008ce826b_temperature"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":1440,"wires":[[]]},{"id":"b3db18172ed9d91b","type":"inject","z":"d409d0a29f7f44cf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":430,"y":1440,"wires":[["6f0ffd648c0412b6"]]},{"id":"f40f0d4906dff6a3","type":"inject","z":"11b4be427f102453","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"180","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"Started!","payloadType":"str","x":220,"y":120,"wires":[["9bd67b56fc380a42","0c509e4c85970780","f3e388a02de977e3","12b0cce70ccbe0e5","1141db43fe043f7b"]]},{"id":"c674244a9bade8e2","type":"comment","z":"11b4be427f102453","name":"Floorheat","info":"","x":620,"y":40,"wires":[]},{"id":"94ee710a61997e5b","type":"function","z":"11b4be427f102453","name":"Read status Floorheat ch2","func":"msg.target = \"1.51\"\nmsg.code = 7262;\nmsg.payload = {\n    channel: 2,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":140,"wires":[["1c893782e9844ea9"]]},{"id":"d941114c9a6e080b","type":"function","z":"11b4be427f102453","name":"Read status Floorheat ch4","func":"msg.target = \"1.51\"\nmsg.code = 7262;\nmsg.payload = {\n    channel: 4,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":260,"wires":[["1c893782e9844ea9"]]},{"id":"5533582fa95505bc","type":"function","z":"11b4be427f102453","name":"Read status Floorheat ch3","func":"msg.target = \"1.51\"\nmsg.code = 7262;\nmsg.payload = {\n    channel: 3,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":200,"wires":[["1c893782e9844ea9"]]},{"id":"0db98bfa7b5fb5e6","type":"function","z":"11b4be427f102453","name":"Read status Floorheat ch5","func":"msg.target = \"1.51\"\nmsg.code = 7262;\nmsg.payload = {\n    channel: 5,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":320,"wires":[["1c893782e9844ea9"]]},{"id":"0c509e4c85970780","type":"delay","z":"11b4be427f102453","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":400,"y":200,"wires":[["5533582fa95505bc"]]},{"id":"9bd67b56fc380a42","type":"delay","z":"11b4be427f102453","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":400,"y":140,"wires":[["94ee710a61997e5b"]]},{"id":"f3e388a02de977e3","type":"delay","z":"11b4be427f102453","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":400,"y":260,"wires":[["d941114c9a6e080b"]]},{"id":"12b0cce70ccbe0e5","type":"delay","z":"11b4be427f102453","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":400,"y":320,"wires":[["0db98bfa7b5fb5e6"]]},{"id":"e9fa297de99c190a","type":"inject","z":"11b4be427f102453","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"120","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"Started!","payloadType":"str","x":240,"y":540,"wires":[["6afc122e43be4f08","49aad58d579ffd19","67535f32c068d991","3ba962da763d23b0","736d2ca5b38b6459","3db5efc74415ff97","67239dfd7d76c905","5d4a1150a91787e0"]]},{"id":"edef5f32f158eee3","type":"function","z":"11b4be427f102453","name":"Read AC ch2","func":"msg.target = \"1.51\"\nmsg.code = 6456;\nmsg.payload = {\n    acno: 2,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":500,"wires":[["cf16b6f45a6ea103"]]},{"id":"7e9937c342dc756d","type":"function","z":"11b4be427f102453","name":"Read AC ch4","func":"msg.target = \"1.51\"\nmsg.code = 6456;\nmsg.payload = {\n    acno: 4,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":620,"wires":[["cf16b6f45a6ea103"]]},{"id":"605a53617d9412f9","type":"function","z":"11b4be427f102453","name":"Read AC ch3","func":"msg.target = \"1.51\"\nmsg.code = 6456;\nmsg.payload = {\n    acno: 3,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":560,"wires":[["cf16b6f45a6ea103"]]},{"id":"2ae4bc5f99974757","type":"function","z":"11b4be427f102453","name":"Read AC ch5","func":"msg.target = \"1.51\"\nmsg.code = 6456;\nmsg.payload = {\n    acno: 5,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":680,"wires":[["cf16b6f45a6ea103"]]},{"id":"49aad58d579ffd19","type":"delay","z":"11b4be427f102453","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":580,"y":560,"wires":[["605a53617d9412f9"]]},{"id":"6afc122e43be4f08","type":"delay","z":"11b4be427f102453","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":580,"y":500,"wires":[["edef5f32f158eee3"]]},{"id":"67535f32c068d991","type":"delay","z":"11b4be427f102453","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":580,"y":620,"wires":[["7e9937c342dc756d"]]},{"id":"3ba962da763d23b0","type":"delay","z":"11b4be427f102453","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":580,"y":680,"wires":[["2ae4bc5f99974757"]]},{"id":"736d2ca5b38b6459","type":"delay","z":"11b4be427f102453","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":580,"y":440,"wires":[["db5fd18786958855"]]},{"id":"db5fd18786958855","type":"function","z":"11b4be427f102453","name":"Read AC ch1","func":"msg.target = \"1.51\"\nmsg.code = 6456;\nmsg.payload = {\n    acno: 1,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":440,"wires":[["cf16b6f45a6ea103"]]},{"id":"37417730f1b15455","type":"function","z":"11b4be427f102453","name":"Read status Floorheat ch1","func":"msg.target = \"1.51\"\nmsg.code = 7262;\nmsg.payload = {\n    channel: 1,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":80,"wires":[["1c893782e9844ea9"]]},{"id":"1141db43fe043f7b","type":"delay","z":"11b4be427f102453","name":"","pauseType":"delay","timeout":"0","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":400,"y":80,"wires":[["37417730f1b15455"]]},{"id":"896a3649e8535c73","type":"inject","z":"11b4be427f102453","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"30","topic":"","payload":"Started!","payloadType":"str","x":240,"y":940,"wires":[["3115f4f15181b1b6"]]},{"id":"3115f4f15181b1b6","type":"function","z":"11b4be427f102453","name":"Read AF ch1","func":"msg.target = \"1.51\"\nmsg.code = 5196;\nmsg.payload = {\n    afno: 1,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":940,"wires":[["cf16b6f45a6ea103"]]},{"id":"8accfe275003f0db","type":"comment","z":"11b4be427f102453","name":"AC","info":"","x":570,"y":360,"wires":[]},{"id":"3c66b66f21c7938e","type":"comment","z":"11b4be427f102453","name":"AF","info":"","x":570,"y":900,"wires":[]},{"id":"1c893782e9844ea9","type":"hdl-raw-out","z":"11b4be427f102453","controller":"f9afab1701cf2baa","name":"","x":1310,"y":400,"wires":[]},{"id":"3db5efc74415ff97","type":"delay","z":"11b4be427f102453","name":"","pauseType":"delay","timeout":"12","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":580,"y":740,"wires":[["a4c12ab6a483d908"]]},{"id":"a4c12ab6a483d908","type":"function","z":"11b4be427f102453","name":"Read AC ch6","func":"msg.target = \"1.51\"\nmsg.code = 6456;\nmsg.payload = {\n    acno: 6,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":740,"wires":[["cf16b6f45a6ea103"]]},{"id":"67239dfd7d76c905","type":"delay","z":"11b4be427f102453","name":"","pauseType":"delay","timeout":"14","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":580,"y":800,"wires":[["70618fe722fe6533"]]},{"id":"70618fe722fe6533","type":"function","z":"11b4be427f102453","name":"Read AC ch7","func":"msg.target = \"1.51\"\nmsg.code = 6456;\nmsg.payload = {\n    acno: 7,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":800,"wires":[["cf16b6f45a6ea103"]]},{"id":"5d4a1150a91787e0","type":"delay","z":"11b4be427f102453","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":580,"y":860,"wires":[["f4909ceca910f2d8"]]},{"id":"f4909ceca910f2d8","type":"function","z":"11b4be427f102453","name":"Read AC ch8","func":"msg.target = \"1.51\"\nmsg.code = 6456;\nmsg.payload = {\n    acno: 8,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":860,"wires":[["cf16b6f45a6ea103"]]},{"id":"766d153cdc27bf86","type":"inject","z":"11b4be427f102453","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"32","topic":"","payload":"Started!","payloadType":"str","x":240,"y":1020,"wires":[["aca93a161109cfd5"]]},{"id":"aca93a161109cfd5","type":"function","z":"11b4be427f102453","name":"Read Light","func":"msg.target = \"1.50\"\nmsg.code = 51;\nmsg.payload = {\n    channel: 60,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":1020,"wires":[["cf16b6f45a6ea103"]]},{"id":"9ed541fbf0afae21","type":"inject","z":"11b4be427f102453","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"Started!","payloadType":"str","x":390,"y":900,"wires":[["f4909ceca910f2d8"]]},{"id":"d44c6d0ff6c6d0cb","type":"inject","z":"11b4be427f102453","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"Started!","payloadType":"str","x":350,"y":840,"wires":[["70618fe722fe6533"]]},{"id":"cf16b6f45a6ea103","type":"hdl-raw-out","z":"11b4be427f102453","controller":"40506e5ae2cce458","name":"ac","x":1310,"y":460,"wires":[]},{"id":"2dda4bca8be579a0","type":"inject","z":"11b4be427f102453","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"Started!","payloadType":"str","x":170,"y":640,"wires":[["edef5f32f158eee3"]]},{"id":"b3a6ab7cea08e0a6","type":"hdl-raw-out","z":"aa6144897b5af25e","controller":"f9afab1701cf2baa","name":"空调地暖新风机专用","x":800,"y":420,"wires":[]},{"id":"2642a9175adfb0ab","type":"inject","z":"aa6144897b5af25e","name":"开新风机","props":[{"p":"code","v":"5195","vt":"num"},{"p":"payload"},{"p":"target","v":"255.255","vt":"str"},{"p":"sender","v":"1.51","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"01 01 03 00 A4 00 44 B0 00 00 00 00 00 00 44 28 00 00 00 00 00 00 44 82 00 00 44 E9 00 00","payloadType":"str","x":120,"y":480,"wires":[["9991a38976718404"]]},{"id":"9991a38976718404","type":"function","z":"aa6144897b5af25e","name":"","func":"var noSpaces = msg.payload.replace(/ /g, '');// remove spaces\nmsg.payload = Buffer.from(noSpaces, \"hex\"); //convert to buffer\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":520,"wires":[["b3a6ab7cea08e0a6"]]},{"id":"1bc1a6b910d150ba","type":"inject","z":"aa6144897b5af25e","name":"关新风机","props":[{"p":"code","v":"5197","vt":"num"},{"p":"payload"},{"p":"topic","vt":"str"},{"p":"target","v":"255.255","vt":"str"},{"p":"sender","v":"1.51","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"command","payload":"01 00 02 00 A4 00 41 B0 00 00 00 00 00 00 42 28 00 00 00 00 00 00 43 82 00 00 43 E9 00 00","payloadType":"str","x":120,"y":600,"wires":[["9991a38976718404"]]},{"id":"5251546ef077d594","type":"inject","z":"aa6144897b5af25e","name":"","props":[{"p":"sender","v":"1.51","vt":"str"},{"p":"target","v":"255.255","vt":"str"},{"p":"code","v":"6459","vt":"str"},{"p":"payload.acstatus","v":"true","vt":"bool"},{"p":"payload.acno","v":"1","vt":"num"},{"p":"payload.setupmode","v":"4","vt":"num"},{"p":"payload.setupspeed","v":"3","vt":"num"},{"p":"payload.temperature.type","v":"0","vt":"num"},{"p":"payload.temperature.now","v":"21","vt":"num"},{"p":"payload.temperature.cooling","v":"20","vt":"num"},{"p":"payload.temperature.heating","v":"21","vt":"num"},{"p":"payload.temperature.auto","v":"22","vt":"num"},{"p":"payload.temperature.dry","v":"23","vt":"num"},{"p":"payload.modeandfan","v":"0","vt":"num"},{"p":"payload.currentmode","v":"29","vt":"num"},{"p":"payload.sweep","v":"0","vt":"num"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"command","x":360,"y":280,"wires":[["b3a6ab7cea08e0a6"]]},{"id":"dfb7abe0c10fe862","type":"inject","z":"aa6144897b5af25e","name":"","props":[{"p":"sender","v":"1.51","vt":"str"},{"p":"target","v":"255.255","vt":"str"},{"p":"code","v":"6459","vt":"str"},{"p":"payload.acstatus","v":"true","vt":"bool"},{"p":"payload.acno","v":"2","vt":"num"},{"p":"topic","vt":"str"},{"p":"payload.temperature.type","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"command","x":640,"y":280,"wires":[[]]},{"id":"1092c7324e822eb3","type":"function","z":"aa6144897b5af25e","name":"关新风机58号通道","func":"msg.target = \"1.58\"\nmsg.code = 49;\nvar noSpaces = \"01000000\"\nmsg.payload = Buffer.from(noSpaces, \"hex\"); //convert to buffer\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":620,"wires":[["b3a6ab7cea08e0a6","7faa049749d43ba5"]]},{"id":"7c9e492b307ca48a","type":"function","z":"aa6144897b5af25e","name":"关新风机58号通道","func":"msg.target = \"1.58\"\nmsg.code = 49;\nvar noSpaces = \"02000000\"\nmsg.payload = Buffer.from(noSpaces, \"hex\"); //convert to buffer\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":660,"wires":[["b3a6ab7cea08e0a6","7faa049749d43ba5"]]},{"id":"a4f224562e5523de","type":"delay","z":"aa6144897b5af25e","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":230,"y":740,"wires":[["7c9e492b307ca48a"]]},{"id":"e9fb6018e3e4a31d","type":"function","z":"aa6144897b5af25e","name":"开新风机58号通道","func":"msg.target = \"1.58\"\nmsg.code = 49;\nvar noSpaces = \"01000000\"\nmsg.payload = Buffer.from(noSpaces, \"hex\"); //convert to buffer\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":380,"wires":[["b3a6ab7cea08e0a6"]]},{"id":"4c53d12c4e6f50a2","type":"function","z":"aa6144897b5af25e","name":"开新风机58号通道","func":"msg.target = \"1.58\"\nmsg.code = 49;\nvar noSpaces = \"02640000\"\nmsg.payload = Buffer.from(noSpaces, \"hex\"); //convert to buffer\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":420,"wires":[["b3a6ab7cea08e0a6"]]},{"id":"7faa049749d43ba5","type":"debug","z":"aa6144897b5af25e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":680,"wires":[]},{"id":"516f86a9095abf39","type":"inject","z":"aa6144897b5af25e","name":"开新风机test","props":[{"p":"code","v":"5196","vt":"num"},{"p":"payload"},{"p":"target","v":"1.51","vt":"str"},{"p":"sender","v":"252.252","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":130,"y":320,"wires":[["5c238f373ae8eaf2"]]},{"id":"5c238f373ae8eaf2","type":"debug","z":"aa6144897b5af25e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":340,"wires":[]},{"id":"1bce4af3cf8c5c5a","type":"inject","z":"0a5f8a0d40dd0b16","name":"play music","props":[{"p":"payload"},{"p":"target","v":"1.51","vt":"str"},{"p":"sender","v":"252.252","vt":"str"},{"p":"code","v":"6446","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2a 53 31 50 4c 41 59 0d 6f 91","payloadType":"str","x":120,"y":280,"wires":[["8aa7f8bbb0348717"]]},{"id":"8aa7f8bbb0348717","type":"function","z":"0a5f8a0d40dd0b16","name":"","func":"var noSpaces = msg.payload.replace(/ /g, '');// remove spaces\nmsg.payload = Buffer.from(noSpaces, \"hex\"); //convert to buffer\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":360,"wires":[["44d14af832328d45"]]},{"id":"44d14af832328d45","type":"hdl-raw-out","z":"0a5f8a0d40dd0b16","controller":"f9afab1701cf2baa","name":"音乐播放器","x":910,"y":600,"wires":[]},{"id":"03e114158e49d61a","type":"inject","z":"0a5f8a0d40dd0b16","name":"stop music","props":[{"p":"payload"},{"p":"target","v":"1.51","vt":"str"},{"p":"sender","v":"252.252","vt":"str"},{"p":"code","v":"6446","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2a 53 31 53 54 4f 50 0d be be","payloadType":"str","x":120,"y":340,"wires":[["8aa7f8bbb0348717"]]},{"id":"6fabb8736b5151b4","type":"inject","z":"0a5f8a0d40dd0b16","name":"next music","props":[{"p":"payload"},{"p":"target","v":"1.51","vt":"str"},{"p":"sender","v":"252.252","vt":"str"},{"p":"code","v":"6446","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2a 53 31 4e 45 58 54 0d fc ba ","payloadType":"str","x":120,"y":400,"wires":[["8aa7f8bbb0348717"]]},{"id":"3f16b247b317ce73","type":"inject","z":"0a5f8a0d40dd0b16","name":"prev music","props":[{"p":"payload"},{"p":"target","v":"1.51","vt":"str"},{"p":"sender","v":"252.252","vt":"str"},{"p":"code","v":"6446","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2a 53 31 50 52 45 56 0d 1a 92","payloadType":"str","x":120,"y":460,"wires":[["8aa7f8bbb0348717"]]},{"id":"e7b2446bacc95c72","type":"function","z":"0a5f8a0d40dd0b16","name":"function 1","func":"\nvar volume = msg.payload.volume\nif (volume == 100.0) {\nvar volmode = \"2a5a31564f4c34080d\" \nmsg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 95.0) {\n    var volmode = \"2a5a31564f4c340b0d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 90.0) {\n    var volmode = \"2a5a31564f4c340e0d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\n\nif (volume == 85.0) {\n    var volmode = \"2a5a31564f4c34110d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 80.0) {\n    var volmode = \"2a5a31564f4c34140d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 75.0) {\n    var volmode = \"2a5a31564f4c34170d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 70.0) {\n    var volmode = \"2a5a31564f4c341a0d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 65.0) {\n    var volmode = \"2a5a31564f4c341d0d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 60.0) {\n    var volmode = \"2a5a31564f4c34200d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 90.0) {\n    var volmode = \"2a5a31564f4c34230d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 55.0) {\n    var volmode = \"2a5a31564f4c34260d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 50.0) {\n    var volmode = \"2a5a31564f4c34290d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 45.0) {\n    var volmode = \"2a5a31564f4c342b0d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 40.0) {\n    var volmode = \"2a5a31564f4c34300d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 35.0) {\n    var volmode = \"2a5a31564f4c34340d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 90.0) {\n    var volmode = \"2a5a31564f4c34380d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 30.0) {\n    var volmode = \"2a5a31564f4c343c0d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 25.0) {\n    var volmode = \"2a5a31564f4c34400d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 20.0) {\n    var volmode = \"2a5a31564f4c34440d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 15.0) {\n    var volmode = \"2a5a31564f4c34480d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 10.0) {\n    var volmode = \"2a5a31564f4c344c0d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 5.0) {\n    var volmode = \"2a5a31564f4c34500d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 0.0) {\n    var volmode = \"2a5a31564f4c34570d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nmsg.target = \"1.51\"\nmsg.code = 6446;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":220,"wires":[["44d14af832328d45"]]},{"id":"bdddd69418b373b7","type":"server-state-changed","z":"0a5f8a0d40dd0b16","name":"","server":"51c9292591f3ccac","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.ke_ting_yin_liang","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload.volume","propertyType":"msg","value":"","valueType":"entityState"}],"x":400,"y":220,"wires":[["e7b2446bacc95c72"]]},{"id":"4337294a63165c2a","type":"inject","z":"0a5f8a0d40dd0b16","name":"play music","props":[{"p":"payload"},{"p":"target","v":"1.52","vt":"str"},{"p":"sender","v":"252.252","vt":"str"},{"p":"code","v":"6446","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2a 53 31 50 4c 41 59 0d 6f 91","payloadType":"str","x":140,"y":660,"wires":[["7f190b52d7db791d"]]},{"id":"7f190b52d7db791d","type":"function","z":"0a5f8a0d40dd0b16","name":"","func":"var noSpaces = msg.payload.replace(/ /g, '');// remove spaces\nmsg.payload = Buffer.from(noSpaces, \"hex\"); //convert to buffer\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":720,"wires":[["44d14af832328d45"]]},{"id":"3ea9d4e49ee7924f","type":"inject","z":"0a5f8a0d40dd0b16","name":"stop music","props":[{"p":"payload"},{"p":"target","v":"1.52","vt":"str"},{"p":"sender","v":"252.252","vt":"str"},{"p":"code","v":"6446","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2a 53 31 53 54 4f 50 0d be be","payloadType":"str","x":140,"y":720,"wires":[["7f190b52d7db791d"]]},{"id":"e2a6a6e1f0f746f7","type":"inject","z":"0a5f8a0d40dd0b16","name":"next music","props":[{"p":"payload"},{"p":"target","v":"1.52","vt":"str"},{"p":"sender","v":"252.252","vt":"str"},{"p":"code","v":"6446","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2a 53 31 4e 45 58 54 0d fc ba ","payloadType":"str","x":140,"y":780,"wires":[["7f190b52d7db791d"]]},{"id":"02a701a1e45878cf","type":"inject","z":"0a5f8a0d40dd0b16","name":"prev music","props":[{"p":"payload"},{"p":"target","v":"1.52","vt":"str"},{"p":"sender","v":"252.252","vt":"str"},{"p":"code","v":"6446","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2a 53 31 50 52 45 56 0d 1a 92","payloadType":"str","x":140,"y":840,"wires":[["7f190b52d7db791d"]]},{"id":"7e6a127046c4e3a3","type":"function","z":"0a5f8a0d40dd0b16","name":"function 2","func":"\nvar volume = msg.payload.volume\nif (volume == 100.0) {\n    var volmode = \"2a5a31564f4c34080d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 95.0) {\n    var volmode = \"2a5a31564f4c340b0d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 90.0) {\n    var volmode = \"2a5a31564f4c340e0d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\n\nif (volume == 85.0) {\n    var volmode = \"2a5a31564f4c34110d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 80.0) {\n    var volmode = \"2a5a31564f4c34140d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 75.0) {\n    var volmode = \"2a5a31564f4c34170d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 70.0) {\n    var volmode = \"2a5a31564f4c341a0d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 65.0) {\n    var volmode = \"2a5a31564f4c341d0d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 60.0) {\n    var volmode = \"2a5a31564f4c34200d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 90.0) {\n    var volmode = \"2a5a31564f4c34230d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 55.0) {\n    var volmode = \"2a5a31564f4c34260d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 50.0) {\n    var volmode = \"2a5a31564f4c34290d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 45.0) {\n    var volmode = \"2a5a31564f4c342b0d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 40.0) {\n    var volmode = \"2a5a31564f4c34300d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 35.0) {\n    var volmode = \"2a5a31564f4c34340d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 90.0) {\n    var volmode = \"2a5a31564f4c34380d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 30.0) {\n    var volmode = \"2a5a31564f4c343c0d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 25.0) {\n    var volmode = \"2a5a31564f4c34400d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 20.0) {\n    var volmode = \"2a5a31564f4c34440d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 15.0) {\n    var volmode = \"2a5a31564f4c34480d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 10.0) {\n    var volmode = \"2a5a31564f4c344c0d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 5.0) {\n    var volmode = \"2a5a31564f4c34500d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 0.0) {\n    var volmode = \"2a5a31564f4c34570d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nmsg.target = \"1.52\"\nmsg.code = 6446;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":600,"wires":[["44d14af832328d45"]]},{"id":"e70c853ca55e4d4c","type":"server-state-changed","z":"0a5f8a0d40dd0b16","name":"","server":"51c9292591f3ccac","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.zhu_wo_yin_liang","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload.volume","propertyType":"msg","value":"","valueType":"entityState"}],"x":380,"y":600,"wires":[["7e6a127046c4e3a3"]]},{"id":"fce1a2ea102f4f13","type":"inject","z":"0a5f8a0d40dd0b16","name":"play music","props":[{"p":"payload"},{"p":"target","v":"1.53","vt":"str"},{"p":"sender","v":"252.252","vt":"str"},{"p":"code","v":"6446","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2a 53 31 50 4c 41 59 0d 6f 91","payloadType":"str","x":140,"y":1040,"wires":[["b3995365d53c9efb"]]},{"id":"b3995365d53c9efb","type":"function","z":"0a5f8a0d40dd0b16","name":"","func":"var noSpaces = msg.payload.replace(/ /g, '');// remove spaces\nmsg.payload = Buffer.from(noSpaces, \"hex\"); //convert to buffer\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":1120,"wires":[["44d14af832328d45"]]},{"id":"002e6fbfe7eeeff2","type":"inject","z":"0a5f8a0d40dd0b16","name":"stop music","props":[{"p":"payload"},{"p":"target","v":"1.53","vt":"str"},{"p":"sender","v":"252.252","vt":"str"},{"p":"code","v":"6446","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2a 53 31 53 54 4f 50 0d be be","payloadType":"str","x":140,"y":1100,"wires":[["b3995365d53c9efb"]]},{"id":"6ba3c30d528fc40f","type":"inject","z":"0a5f8a0d40dd0b16","name":"next music","props":[{"p":"payload"},{"p":"target","v":"1.53","vt":"str"},{"p":"sender","v":"252.252","vt":"str"},{"p":"code","v":"6446","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2a 53 31 4e 45 58 54 0d fc ba ","payloadType":"str","x":140,"y":1160,"wires":[["b3995365d53c9efb"]]},{"id":"a7dc5856f9cdb28b","type":"inject","z":"0a5f8a0d40dd0b16","name":"prev music","props":[{"p":"payload"},{"p":"target","v":"1.53","vt":"str"},{"p":"sender","v":"252.252","vt":"str"},{"p":"code","v":"6446","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2a 53 31 50 52 45 56 0d 1a 92","payloadType":"str","x":140,"y":1220,"wires":[["b3995365d53c9efb"]]},{"id":"06bef5ae57c2f368","type":"function","z":"0a5f8a0d40dd0b16","name":"function 3","func":"\nvar volume = msg.payload.volume\nif (volume == 100.0) {\n    var volmode = \"2a5a31564f4c34080d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 95.0) {\n    var volmode = \"2a5a31564f4c340b0d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 90.0) {\n    var volmode = \"2a5a31564f4c340e0d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\n\nif (volume == 85.0) {\n    var volmode = \"2a5a31564f4c34110d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 80.0) {\n    var volmode = \"2a5a31564f4c34140d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 75.0) {\n    var volmode = \"2a5a31564f4c34170d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 70.0) {\n    var volmode = \"2a5a31564f4c341a0d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 65.0) {\n    var volmode = \"2a5a31564f4c341d0d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 60.0) {\n    var volmode = \"2a5a31564f4c34200d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 90.0) {\n    var volmode = \"2a5a31564f4c34230d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 55.0) {\n    var volmode = \"2a5a31564f4c34260d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 50.0) {\n    var volmode = \"2a5a31564f4c34290d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 45.0) {\n    var volmode = \"2a5a31564f4c342b0d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 40.0) {\n    var volmode = \"2a5a31564f4c34300d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 35.0) {\n    var volmode = \"2a5a31564f4c34340d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 90.0) {\n    var volmode = \"2a5a31564f4c34380d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 30.0) {\n    var volmode = \"2a5a31564f4c343c0d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 25.0) {\n    var volmode = \"2a5a31564f4c34400d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 20.0) {\n    var volmode = \"2a5a31564f4c34440d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 15.0) {\n    var volmode = \"2a5a31564f4c34480d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 10.0) {\n    var volmode = \"2a5a31564f4c344c0d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 5.0) {\n    var volmode = \"2a5a31564f4c34500d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nif (volume == 0.0) {\n    var volmode = \"2a5a31564f4c34570d\"\n    msg.payload = Buffer.from(volmode, \"hex\")\n}\nmsg.target = \"1.53\"\nmsg.code = 6446;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":980,"wires":[["44d14af832328d45"]]},{"id":"4d3fafa49ef0c2c0","type":"server-state-changed","z":"0a5f8a0d40dd0b16","name":"","server":"51c9292591f3ccac","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.zhu_wei_yin_liang","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload.volume","propertyType":"msg","value":"","valueType":"entityState"}],"x":380,"y":980,"wires":[["06bef5ae57c2f368"]]},{"id":"76f4fb5ae6b501b4","type":"comment","z":"0a5f8a0d40dd0b16","name":"客厅","info":"","x":110,"y":220,"wires":[]},{"id":"ce737d704c52d4e6","type":"comment","z":"0a5f8a0d40dd0b16","name":"主卧","info":"","x":110,"y":600,"wires":[]},{"id":"8d2d39b5e6fa7aa6","type":"comment","z":"0a5f8a0d40dd0b16","name":"主卫","info":"","x":130,"y":980,"wires":[]},{"id":"f00503a6f284b813","type":"server-state-changed","z":"0a5f8a0d40dd0b16","name":"","server":"51c9292591f3ccac","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_button.ke_ting_bo_fang","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"2a 53 31 50 4c 41 59 0d 6f 91","valueType":"str"},{"property":"target","propertyType":"msg","value":"1.51","valueType":"str"},{"property":"code","propertyType":"msg","value":"6446","valueType":"num"}],"x":410,"y":280,"wires":[["8aa7f8bbb0348717"]]},{"id":"0ca4891dfad1d00d","type":"server-state-changed","z":"0a5f8a0d40dd0b16","name":"","server":"51c9292591f3ccac","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_button.ke_ting_zan_ting","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"2a 53 31 53 54 4f 50 0d be be","valueType":"str"},{"property":"target","propertyType":"msg","value":"1.51","valueType":"str"},{"property":"code","propertyType":"msg","value":"6446","valueType":"num"}],"x":410,"y":340,"wires":[["8aa7f8bbb0348717"]]},{"id":"9776ed77a8c139c2","type":"server-state-changed","z":"0a5f8a0d40dd0b16","name":"","server":"51c9292591f3ccac","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_button.ke_ting_xia_yi_shou","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"2a 53 31 4e 45 58 54 0d fc ba","valueType":"str"},{"property":"target","propertyType":"msg","value":"1.51","valueType":"str"},{"property":"code","propertyType":"msg","value":"6446","valueType":"num"}],"x":420,"y":400,"wires":[["8aa7f8bbb0348717"]]},{"id":"aec2aa0638731b4d","type":"server-state-changed","z":"0a5f8a0d40dd0b16","name":"","server":"51c9292591f3ccac","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_button.ke_ting_shang_yi_shou","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"2a 53 31 50 52 45 56 0d 1a 92","valueType":"str"},{"property":"target","propertyType":"msg","value":"1.51","valueType":"str"},{"property":"code","propertyType":"msg","value":"6446","valueType":"num"}],"x":430,"y":460,"wires":[["8aa7f8bbb0348717"]]},{"id":"8c77cb4a5de12599","type":"server-state-changed","z":"0a5f8a0d40dd0b16","name":"","server":"51c9292591f3ccac","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_button.zhu_wo_bo_fang","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"2a 53 31 50 4c 41 59 0d 6f 91","valueType":"str"},{"property":"target","propertyType":"msg","value":"1.52","valueType":"str"},{"property":"code","propertyType":"msg","value":"6446","valueType":"num"}],"x":410,"y":660,"wires":[["7f190b52d7db791d"]]},{"id":"110f57f6e5166cc1","type":"server-state-changed","z":"0a5f8a0d40dd0b16","name":"","server":"51c9292591f3ccac","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_button.zhu_wo_zan_ting","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"2a 53 31 53 54 4f 50 0d be be","valueType":"str"},{"property":"target","propertyType":"msg","value":"1.52","valueType":"str"},{"property":"code","propertyType":"msg","value":"6446","valueType":"num"}],"x":410,"y":720,"wires":[["7f190b52d7db791d"]]},{"id":"715f326606a476dd","type":"server-state-changed","z":"0a5f8a0d40dd0b16","name":"","server":"51c9292591f3ccac","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_button.zhu_wo_xia_yi_shou","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"2a 53 31 4e 45 58 54 0d fc ba","valueType":"str"},{"property":"target","propertyType":"msg","value":"1.52","valueType":"str"},{"property":"code","propertyType":"msg","value":"6446","valueType":"num"}],"x":430,"y":780,"wires":[["7f190b52d7db791d"]]},{"id":"0a894afbab436532","type":"server-state-changed","z":"0a5f8a0d40dd0b16","name":"","server":"51c9292591f3ccac","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_button.zhu_wo_shang_yi_shou","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"2a 53 31 50 52 45 56 0d 1a 92","valueType":"str"},{"property":"target","propertyType":"msg","value":"1.52","valueType":"str"},{"property":"code","propertyType":"msg","value":"6446","valueType":"num"}],"x":440,"y":840,"wires":[["7f190b52d7db791d"]]},{"id":"85f6cc5e8dfa8f81","type":"server-state-changed","z":"0a5f8a0d40dd0b16","name":"","server":"51c9292591f3ccac","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_button.zhu_wei_bo_fang","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"2a 53 31 50 4c 41 59 0d 6f 91","valueType":"str"},{"property":"target","propertyType":"msg","value":"1.53","valueType":"str"},{"property":"code","propertyType":"msg","value":"6446","valueType":"num"}],"x":420,"y":1040,"wires":[["b3995365d53c9efb"]]},{"id":"ed5e82b55fd99c2f","type":"server-state-changed","z":"0a5f8a0d40dd0b16","name":"","server":"51c9292591f3ccac","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_button.zhu_wei_zan_ting","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"2a 53 31 53 54 4f 50 0d be be","valueType":"str"},{"property":"target","propertyType":"msg","value":"1.53","valueType":"str"},{"property":"code","propertyType":"msg","value":"6446","valueType":"num"}],"x":420,"y":1100,"wires":[["b3995365d53c9efb"]]},{"id":"5d77e1efbd42263b","type":"server-state-changed","z":"0a5f8a0d40dd0b16","name":"","server":"51c9292591f3ccac","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_button.zhu_wei_xia_yi_shou","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"2a 53 31 4e 45 58 54 0d fc ba","valueType":"str"},{"property":"target","propertyType":"msg","value":"1.53","valueType":"str"},{"property":"code","propertyType":"msg","value":"6446","valueType":"num"}],"x":430,"y":1160,"wires":[["b3995365d53c9efb"]]},{"id":"635b3e3884b208e3","type":"server-state-changed","z":"0a5f8a0d40dd0b16","name":"","server":"51c9292591f3ccac","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_button.zhu_wei_shang_yi_shou","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"2a 53 31 50 52 45 56 0d 1a 92","valueType":"str"},{"property":"target","propertyType":"msg","value":"1.53","valueType":"str"},{"property":"code","propertyType":"msg","value":"6446","valueType":"num"}],"x":440,"y":1220,"wires":[["b3995365d53c9efb"]]},{"id":"f18023e7cb210e34","type":"inject","z":"0a5f8a0d40dd0b16","name":"local mode","props":[{"p":"payload"},{"p":"target","v":"1.51","vt":"str"},{"p":"sender","v":"252.252","vt":"str"},{"p":"code","v":"6446","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2a 5a 31 53 52 43 31 0d","payloadType":"str","x":120,"y":520,"wires":[["8aa7f8bbb0348717"]]},{"id":"5006afae06148a25","type":"inject","z":"0a5f8a0d40dd0b16","name":"local mode","props":[{"p":"payload"},{"p":"target","v":"1.52","vt":"str"},{"p":"sender","v":"252.252","vt":"str"},{"p":"code","v":"6446","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2a 5a 31 53 52 43 31 0d","payloadType":"str","x":140,"y":900,"wires":[["7f190b52d7db791d"]]},{"id":"fc6779f0f9ef362d","type":"inject","z":"0a5f8a0d40dd0b16","name":"local mode","props":[{"p":"payload"},{"p":"target","v":"1.53","vt":"str"},{"p":"sender","v":"252.252","vt":"str"},{"p":"code","v":"6446","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2a 5a 31 53 52 43 31 0d","payloadType":"str","x":140,"y":1280,"wires":[["b3995365d53c9efb"]]},{"id":"34e3538051df2479","type":"inject","z":"0a5f8a0d40dd0b16","name":"bluetooth mode","props":[{"p":"payload"},{"p":"target","v":"1.51","vt":"str"},{"p":"sender","v":"252.252","vt":"str"},{"p":"code","v":"6446","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2a 5a 31 53 52 43 38 0d","payloadType":"str","x":140,"y":560,"wires":[["8aa7f8bbb0348717"]]},{"id":"1bdaa84058081dc3","type":"inject","z":"0a5f8a0d40dd0b16","name":"bluetooth mode","props":[{"p":"payload"},{"p":"target","v":"1.52","vt":"str"},{"p":"sender","v":"252.252","vt":"str"},{"p":"code","v":"6446","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2a 5a 31 53 52 43 38 0d","payloadType":"str","x":160,"y":940,"wires":[["7f190b52d7db791d"]]},{"id":"ed1f21497c23310b","type":"inject","z":"0a5f8a0d40dd0b16","name":"bluetooth mode","props":[{"p":"payload"},{"p":"target","v":"1.53","vt":"str"},{"p":"sender","v":"252.252","vt":"str"},{"p":"code","v":"6446","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2a 5a 31 53 52 43 38 0d","payloadType":"str","x":160,"y":1320,"wires":[["b3995365d53c9efb"]]},{"id":"8be5611009eef17e","type":"server-state-changed","z":"0a5f8a0d40dd0b16","name":"","server":"51c9292591f3ccac","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_button.ke_ting_ben_di","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"2a 5a 31 53 52 43 31 0d","valueType":"str"},{"property":"target","propertyType":"msg","value":"1.51","valueType":"str"},{"property":"code","propertyType":"msg","value":"6446","valueType":"num"}],"x":410,"y":500,"wires":[["8aa7f8bbb0348717"]]},{"id":"d261ace209111321","type":"server-state-changed","z":"0a5f8a0d40dd0b16","name":"","server":"51c9292591f3ccac","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_button.ke_ting_lan_ya","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"2a 5a 31 53 52 43 38 0d","valueType":"str"},{"property":"target","propertyType":"msg","value":"1.51","valueType":"str"},{"property":"code","propertyType":"msg","value":"6446","valueType":"num"}],"x":410,"y":540,"wires":[["8aa7f8bbb0348717"]]},{"id":"6650e0a056d5c5c4","type":"server-state-changed","z":"0a5f8a0d40dd0b16","name":"","server":"51c9292591f3ccac","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_button.zhu_wo_ben_di","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"2a 5a 31 53 52 43 31 0d","valueType":"str"},{"property":"target","propertyType":"msg","value":"1.52","valueType":"str"},{"property":"code","propertyType":"msg","value":"6446","valueType":"num"}],"x":430,"y":900,"wires":[["7f190b52d7db791d"]]},{"id":"1feb72fbb798c1c4","type":"server-state-changed","z":"0a5f8a0d40dd0b16","name":"","server":"51c9292591f3ccac","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_button.zhu_wo_lan_ya","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"2a 5a 31 53 52 43 38 0d","valueType":"str"},{"property":"target","propertyType":"msg","value":"1.52","valueType":"str"},{"property":"code","propertyType":"msg","value":"6446","valueType":"num"}],"x":430,"y":940,"wires":[["7f190b52d7db791d"]]},{"id":"b4b9f13cd504d75c","type":"server-state-changed","z":"0a5f8a0d40dd0b16","name":"","server":"51c9292591f3ccac","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_button.zhu_wei_ben_di","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"2a 5a 31 53 52 43 31 0d","valueType":"str"},{"property":"target","propertyType":"msg","value":"1.53","valueType":"str"},{"property":"code","propertyType":"msg","value":"6446","valueType":"num"}],"x":450,"y":1280,"wires":[["b3995365d53c9efb"]]},{"id":"d9bbe849e29541ad","type":"server-state-changed","z":"0a5f8a0d40dd0b16","name":"","server":"51c9292591f3ccac","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_button.zhu_wei_lan_ya","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"2a 5a 31 53 52 43 38 0d","valueType":"str"},{"property":"target","propertyType":"msg","value":"1.53","valueType":"str"},{"property":"code","propertyType":"msg","value":"6446","valueType":"num"}],"x":450,"y":1340,"wires":[["b3995365d53c9efb"]]}]
